@import '../../../../globals/theme.scss';



button {
  background-color: var(--buttonBackground);
  color: var(--buttonColor);
  font-family: $default-font;
  padding: 12px;
}

.headerIcon{
  width: $mainHeader-Height - 0.5px;
  height: $mainHeader-Height;
  cursor: pointer;
}

.KeyPaddIcon {
  width: $mainHeader-Height - 0.5px;
  height: $mainHeader-Height;
  cursor: pointer;
}

.companyIcon{
  width: calc( #{$mainHeader-Height} * 2);
  padding: 10px 12px;
  padding-bottom: 5px;
  padding-top: 13px;
}

.left{
  float:left;
  border-right: $border;
}

.right{
  float:right;
  border-left: $border;
}

.float-r{
  float:right;
}

.profileicon {
  width: 21px;
  height: 21px;
  margin: 10px;
  position: $commonPosition;
  color: var(--form-value-Color) !important;
}

.icon-search{
  width:21px;
  height:21px;
  position: $commonPosition;
  margin: 7px;
  cursor: pointer;
}

.icon-search:hover + .search-field{
  opacity: 1;
}

.search{
  width: 250px;
  padding: 4px;
}

.search-field{
  width: 215px;
  height: 35px;
  font-size: 14px;
  top: -8px;
  color: white;
  opacity:0;
}


.removeFav {
  width: 6px;
  height: 6px;
  background-image: url('/wwwroot/images/Favicon/V3 UnpinFromFavorites.svg');
  position: absolute;
  display: none;
  margin-left: 33px;
  margin-top: 2px;
}

.profile-notification {
  width: 6.5px;
  height: 6.5px;
  background-image: url('/wwwroot/images/Favicon/V3 InboxNotification.svg');
  position: absolute;
  margin-left: 31px;
  margin-top: 4px;
}

.headerIcon:hover .removeFav{
  display: inline-flex;
}

.KeyPaddIcon:hover .removeFav {
  display: inline-flex;
}
.toggle-height{
  height: $form-title-fontsize;
}
.icons:hover .removeFav{
  display: inline-flex;
}

.favIconLists{
  display:block;
}

.favLists{
  position: $commonPosition;
  padding: 0.5px;
  z-index: 5;
  left: 150px;
  max-height: 250px;
  top: $mainHeader-Height;
  background-color: var(--defaultmainHeader-BackGroundColor);
  overflow-x:auto;
}

.icons{
  width:18px;
  height:18px;
  padding:12px;
  border-right:$border;
  cursor: pointer;
}

.headerIcon:hover{
  background-color: var(--mouseHover-BackGroundColor);
}

.KeyPaddIcon:hover {
  background-color: var(--mouseHover-BackGroundColor);
}

.favIconListsMenu{
  display:none;
}

.contextMenu {
  position: $commonPosition;
  width: 170px;
  top: 42px;
  left: 0px;
  z-index: 10;
  background-color: var(--sideHeader-BackGroundColor);
  opacity: 0.97;
  text-align: center
}

.list {
  height: 20px;
  font-size: 12px;
  padding: 4px 7px;
  padding-bottom: 0px;
  padding-top: 6px;
  color: var(--statusHeader-FontColor);
  cursor: pointer;
}
#theme{
  height: 22px;
}

.list:hover {
  background-color: var(--mouseHover-BackGroundColor);
}


.highlight{
  background-color: var(--mouseHover-BackGroundColor);
}


.user-profile-menu {
  position: $commonPosition;
  width: 140px;
  height: auto;
  top: 42px;
  right: 0px;
  opacity: 0.97;
  z-index: 8;
  background-color: var(--sideHeader-BackGroundColor);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  padding-bottom: 5px
}

.icon86-18 {
  width: 86px;
  height: 20px;
}

.cont-list{
  color: var(--form-value-Color);
  font-size: 12px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.cont-list:hover{
  background-color: var(--mouseHover-BackGroundColor);
}



@media screen and (max-width: 900px) {
  .favIconLists{
    display:none;
  }

  .favIconListsMenu{
    display:block;
  }
}

// .AdminIcon{
//   width: 9px;
//   float: right;
//   margin-top: 4px;
// }

.loader {
  margin: auto;
  margin-top: 35px;
  border: 10px solid #c6c6c6;
  border-radius: 50%;
  border-top: 10px solid #808080;
  border-bottom: 10px solid #808080;
  width: 62px;
  height: 62px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.loaderStyling {
  border: $border;
  box-sizing: border-box;
  background-color: var(--mainHeader-BackGroundColor);
  color: var(--form-value-Color);
  height: 150px;
  width: 200px;
  position: $commonPosition;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 18.65%;
}

/*
  User-Story #36725: Pin to Favorites functionality adjustment.
  DON'T DELETE PLEASE @@@@@@@@@@@@@@@@@@@@@@@@@
  ==============================================

  button.pinUnpin.mat-menu-item {
  color: var(--form-value-Color);
  font-size: $prodValue-FontSize;
  font-family: $common-FontStyle;
  height: 30px;
  width: 100%;
  line-height: normal !important;
  display: block;
  margin: 1px 0px;
  padding: 0px 10px;
}

button.pinUnpin.mat-menu-item:hover {
  background-color: var(--mouseHover-BackGroundColor);
}*/

.DesktopSpinLoading{
  width: $mainHeader-Height - 0.5px;
  height: $mainHeader-Height;
  //cursor: pointer;
  float: right;
}
.progressBarMargin{
  margin-left: 9px;
  margin-top:  8px;
  cursor: pointer;
 
}

#DesktopProgressText{
  margin-left: -670px;
  margin-top: 12px;
  color: var(--form-Title-Color);
}

#networkInitiation{
  float: right;
  margin-right: 487px;
  margin-top: 13px;
  color: #39B54A;
  font-weight: bold;
  text-align: center;
  font-family: Roboto Regular;
  font-size: 12px;
}

.desktopSpinIcon {
  width: $mainHeader-Height - 13px;
  height: $mainHeader-Height - 4px;
  margin-left: 6px;
  cursor: pointer;
  position: fixed;
  // display: inline-block;
  -webkit-animation-name: spin;  /* chrome && Safari */
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;  /* Mozilla */
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;  /* Microsoft IE */
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;  /* Default */
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-ms-keyframes spin {  //Microsoft IE
  
  from { -ms-transform: rotate(0deg);  }
  to { -ms-transform: rotate(360deg);  }
}
@-moz-keyframes spin {  //Mozilla
  from { -moz-transform: rotate(0deg);  }
  to { -moz-transform: rotate(360deg);  }
}
@-webkit-keyframes spin {  //chrome && Safari
  from { -webkit-transform: rotate(0deg);  }
  to { -webkit-transform: rotate(360deg);  }
}
@keyframes spin { //Default Spin (Mostly for all Browsers )
  from {
      transform:rotate(0deg);
      will-change: transform;
  }
  to {
      transform:rotate(360deg);
      will-change: transform;
  }
}

#syncStatusText{
  float: right;
  margin-right: 412px;
  margin-top: 12px;
  color: #39B54A;
  font-weight: bold;
  text-align: center;
  font-family: Roboto Regular;
  font-size: 12px;
}
.progressBarMargin ::ng-deep circle{
    stroke:#318FD7 !important;
}
.disable-pinnedIcons{
  opacity: 0.2;
  //pointer-events: none;
}


mat-card {
  padding: 0px;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 5px);
}

.mat-card-container {
  background-color: var(--sideHeader-BackGroundColor) !important;
}


.LastSyncTime {
  height: 112px;
  text-align: center;
  width: 125px;
  color: var(--form-value-Color);
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 10px;
  background-color: var(--sideHeader-BackGroundColor);
}

.online_text_color {
  color: #39B54A !important;
}

.offline_text_color {
  color: #CC0D0D !important;
}

.onlineoffline {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  padding-top: 10px;
}

.lastsynctext {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 15px;
  text-align: center;
  height: 85px;
}

.last_sync_on {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
  opacity:0.5;
}

.last_sync_date {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 15px;
  text-align: center;
  height: 20px;
}

.last_sync_time {
  font-family: Roboto, "Helvetica Neue", light;
  font-size: 13px;
  text-align: center;
  height: 20px;
}

.divider_line {
  border: 0.5px solid #000000;
}

.disable_Tab_Mode{
    pointer-events:none;
    opacity:0.5;
}
