<div class="full-view">

  <div class="headerIcon right" matTooltip="USER PROFILE" [matTooltipDisabled]="commonService.tabletMode ? true : false" (click)="profileSettingMenu()" [ngClass]="{'active': commonService.isUserMenuHeader}">
    <img *ngIf="commonService.userProfilePicture!=''" class="profileicon" [src]="commonService.userProfilePicture" />
    <img *ngIf="commonService.userProfilePicture==''" class="icon" [src]='commonService.userProfileIcon' />
    <!-- <div *ngIf="commonService.isProfileNotification" class='profile-notification' click='setFavHeader(head)'> </div> -->
  </div>

  <div class="headerIcon right" (click)="subHeaderViewToggle()" matTooltip="MENU" [matTooltipDisabled]="commonService.tabletMode ? true : false" [ngClass]="{'active': commonService.isSubHeaderEnable}">
    <img class="icon" src="wwwroot/images/V3 Icon set part1/Capability_Menu_white.svg" />
  </div>
  <div *ngIf="!isdesktop" [mdePopoverTriggerFor]="LastSyncTimePopOver" mdePopoverTriggerOn="click" class="headerIcon right" matTooltip="{{NetworkSignalStatus}}" [matTooltipDisabled]="commonService.tabletMode ? true : false">
    <img class="icon" src='{{SignalCellular}}' />
  </div>

  <div *ngIf="!isdesktop" class="DesktopSpinLoading">
    <div id='progressToolTip' *ngIf="!commonService.isOnlineDataSyncDone&&commonService.onlineOffline" matTooltip="{{conditionalToolTipForSyncing}}">
      <!-- <img class="desktopSpinIcon" matTooltip="{{conditionalToolTipForSyncing}}" src='{{spinnerImage}}'/> -->
      <mat-progress-spinner mode="indeterminate" [diameter]="23" class="progressBarMargin">
      </mat-progress-spinner>
    </div>

  </div>
  <div *ngIf="!isdesktop && commonService.showSyncStatusText" id='syncStatusText' class="syncText">
    {{desktopSyncStatusText}}
  </div>
  <div *ngIf="!isdesktop && isNetworkConnected" id='networkInitiation' class="establishConnection">
    {{ConnectionEstablishedText}}
  </div>
  <!-- <entitysearch style="float:right"></entitysearch> -->

  <div *ngIf="commonService.currentRoutingSource && fabricName" class="headerIcon highlight left" (click)="closeContextMenu('fabricIcon')" (contextmenu)="onRightClick($event, fabricTitle)" [matTooltip]='fabricTitle' [matTooltipDisabled]="commonService.tabletMode ? true : false">
    <img class="icon" src='{{commonService.currentRoutingSource}}' />
  </div>

  <div class="companyIcon" [ngClass]="'left'" (click)="closeContextMenu('homeIcon')">
    <a [routerLink]="['/Home']">
      <img ngClass="icon86-18" [src]="commonService.companyLog" />
    </a>
  </div>

  <!-- <div *ngIf="commonService.faviconList" class='favIconLists'>
    <div *ngFor="let list of commonService.faviconList">
      <div class="headerIcon" [ngClass]="{'active': list.routerLinkActive, 'left': true}" [matTooltip]='list.tooltip ? list.tooltip.toUpperCase():""' (click)="onRouteClick(list)" (contextmenu)="onContextMenu($event, list)" id="heder-right">
          <img class="icon"  [ngClass]="list.class"  [id]="list.id" src='{{list.sourceSub}}'/>
      </div>
    </div>
  </div> -->

  <div class='favIconLists'>
    <div *ngFor="let list of appConfig.AllHeaderRoutingList">
      <div *ngIf="list.isFavIcon" class="headerIcon" [ngClass]="{'active': list.routerLinkActive, 'left': true,'disable-pinnedIcons': list.offlineStatus}" [matTooltip]='list.tooltip ? list.tooltip.toUpperCase():""' [matTooltipDisabled]="commonService.tabletMode ? true : false" (click)="onRouteClick(list)" (contextmenu)="onContextMenu($event, list)" id="heder-right">
        <img class="icon" [ngClass]="list.class" [id]="list.id" src='{{list.sourceSub}}' />
      </div>
    </div>
  </div>

  <div class='favIconListsMenu'>
    <div class="headerIcon left" matTooltip="FAVOURITES" [ngClass]="{ 'active':menuFavIcons }" (click)="menuFavIcons = !menuFavIcons">
      <img class="icon" src='wwwroot/images/Tasks section icons/Task Card Menu_icon.svg' />
    </div>
    <div class='favLists scrollbar' *ngIf='menuFavIcons'>
      <div class='listFavIcon' *ngFor="let list of appConfig.AllHeaderRoutingList">
        <div *ngIf="list.isFavIcon" class="headerIcon" [ngClass]="{'active': list.routerLinkActive }" (click)="onRouteClick(list)" (contextmenu)="onContextMenuList($event, list)" [matTooltip]='list.tooltip ? list.tooltip.toUpperCase():""'>
          <a [routerLink]="list.routerLink" [queryParams]="list.queryParameter">
            <img class="icon" [ngClass]="list.class" [id]="list.sourceSub" src='{{list.sourceSub}}' />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf='commonService.isContextMenuHeader' class='contextMenu'>
  <!--<div class='list' *ngIf='!commonService.isSecurityAdmin' (click)='contextMenuClick("SecurityAdmin", "OpenSecurityAdmin", "contextMenuClick")'>Open Security Admin </div>
  <div class='list' *ngIf='commonService.isSecurityAdmin' (click)='contextMenuClick("SecurityAdmin","CloseSecurityAdmin", "contextMenuClick")'>Close Security Admin </div>-->
</div>

<div *ngIf='commonService.isUserMenuHeader' class='user-profile-menu'>
  <div *ngFor='let list of menuUserList'>
    <div *ngIf='list.show' class='list' (click)='ClickEvent(list)'> {{list.label}} </div>
  </div>
  <!-- <div class='list' id="theme">  Theme Color <mat-slide-toggle class='float-r' (change)='themeChange($event)' [checked]="commonService.themeDark"></mat-slide-toggle> </div> -->
  <div [ngClass]="{ 'disable_Tab_Mode': commonService.isdisableTableModeButton }"  class='list' (click)='tabletModeChange($event)'> Tablet Mode <mat-slide-toggle class='float-r toggle-height' [checked]="commonService.tabletMode" [disabled]="true"></mat-slide-toggle> </div>
  <!-- <div class='list' (click)='ClickDesktopApp()' >  Desktop App </div>
  <div class='list' (click)='ClickSupport()' >  Support </div> -->
  <div class='list' (click)='logoutUser()'>{{ this.CustomerAppsettings.env.UseAsDesktop ? desktop_logout : web_logout }}</div>


</div>

<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <div class='cont-list' (click)="onContextMenuUnpin()">Unpin From Favorites</div>
    <div *ngIf='isdesktop' class='cont-list' (click)="onContextMenuOpenNew()">Open in New Tab</div>
  </ng-template>
</mat-menu>

<div style="position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>


<mde-popover #LastSyncTimePopOver="mdePopover" [mdePopoverOverlapTrigger]="false">
  <mat-card class="mat-card-container">
    <mat-card-content class="table-container full-view">
      <div class="LastSyncTime">
        <div [ngClass]="onLineOfflineStatus()" class="onlineoffline">
          {{onlineoffline}}
        </div>
        <div class="lastsynctext">
          <hr class="divider_line">
          <div class="last_sync_on">LAST SYNC ON</div>
          <div class="last_sync_date">{{this.commonService.LastSyncTime | date: 'MM/dd/yyyy'}} </div>
          <div class="last_sync_time">{{this.commonService.LastSyncTime | date: 'hh:mm:ss'}}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</mde-popover>
