<div>
  <div *ngFor="let head of headerConfig">
    <div *ngIf='head.show' [id]="head.id">

      <div *ngIf='head.type =="title" && !popUPForm' class="title-header non-border"
        [ngClass]="[head.float,head.uppercase]"> {{head.title}} </div>
      <div *ngIf='head.type =="title" && popUPForm' id="dragHandler" class="popup-title-header non-border"
        [ngClass]="[head.float,head.uppercase]"
        [ngStyle]="{'max-width': router.url.includes('FormType=Analysis')? '35%' : '65%' }" [isOutOfBound]
        #c="outOfBound" [matTooltipDisabled]="!c.outOfBound"> {{head.title}} </div>

      <div class="headerIcon" [matTooltip]='head.title?.toUpperCase()'
        [matTooltipDisabled]="commonService.tabletMode ? true : false" *ngIf='head.type =="icon"'
        [ngClass]="{'active': head.routerLinkActive, 'left': head.float=='left', 'leftarrow': head.float=='left1', 'right': head.float=='right'}">
        <div *ngIf='head.disable'>
          <div class='head-route' [ngClass]="{'full-opacity': head?.opacity,'inactive-icon-opacity': !head?.opacity}"
            (click)="onClick(head)">
            <img *ngIf="popUPForm" class="icon" src="{{head.source}}" [ngClass]="head.class" />
            <mat-icon *ngIf="!popUPForm" class="icon disable-multidateview" matSuffix svgIcon='{{head.source}}'
              [ngClass]="head.class"></mat-icon>
          </div>
        </div>
        <div *ngIf='!head.disable'>
          <div class='head-route' [ngClass]="{'full-opacity': head.opacity,'inactive-icon-opacity': !head?.opacity}"
            (click)="onClick(head)">
            <img *ngIf="popUPForm" class="icon" src="{{head.source}}" [ngClass]="head.class" />
            <mat-icon *ngIf="!popUPForm" class="icon" matSuffix svgIcon='{{head.source}}' [ngClass]="head.class">
            </mat-icon>
          </div>
        </div>

      </div>

      <div *ngIf='head.type =="splliter"' [ngClass]="head.class">
      </div>

      <div class="headerSelect" *ngIf='head.type =="select"' [ngClass]="head.float">
        <div class="headerIcon" matTooltip='PREVIOUS' [matTooltipDisabled]="commonService.tabletMode ? true : false"
          [ngClass]="{'active': head.routerLinkActive, 'leftarrow': head.float=='left', 'right': head.float=='right'}">
          <div class='head-route' (click)="getPrevLocation(head)">
            <mat-icon class="icon" matSuffix svgIcon='DataEntryCard_ScrollLeft_Icon' [id]="head.id"
              [ngClass]="head.class"></mat-icon>
          </div>
        </div>
        <div class='location-header float-l'>{{locationName }}</div>

        <div class="headerIcon" matTooltip='NEXT' [matTooltipDisabled]="commonService.tabletMode ? true : false"
          [ngClass]="{'active': head.routerLinkActive, 'leftarrow': head.float=='left', 'right': head.float=='right'}">
          <div class='head-route' (click)="getNextLocation(head)">
            <mat-icon class="icon" matSuffix svgIcon='DataEntryCard_ScrollRight_Icon' [id]="head.id"
              [ngClass]="head.class"></mat-icon>
          </div>
        </div>
      </div>

      <div class="headerDate" *ngIf='head.type =="date"' [ngClass]="head.float">
        <div class="headerIcon" matTooltip='PREVIOUS DATE'
          [matTooltipDisabled]="commonService.tabletMode ? true : false"
          [ngClass]="{'active': head.routerLinkActive, 'left': head.float=='left', 'rightarrow': head.float=='right'}">
          <div *ngIf="commonService.isMultiGridView" class='head-route'>
            <mat-icon class="icon disable-multidateview" matSuffix svgIcon='DataEntryCard_ScrollLeft_Icon'
              [id]="head.id" [ngClass]="head.class"></mat-icon>
          </div>
          <div *ngIf="!commonService.isMultiGridView" class='head-route' (click)="getPrevDate($event)">
            <mat-icon class="icon" matSuffix svgIcon='DataEntryCard_ScrollLeft_Icon' [id]="head.id"
              [ngClass]="head.class"></mat-icon>
          </div>
        </div>

        <div class='location-header'>{{selectedDate | date: 'M/d/yyyy'}}</div>

        <div class="headerIcon" matTooltip='NEXT DATE' [matTooltipDisabled]="commonService.tabletMode ? true : false"
          [ngClass]="{'active': head.routerLinkActive, 'left': head.float=='left', 'rightarrow1': head.float=='right'}">
          <div *ngIf="commonService.isMultiGridView" class='head-route'>
            <mat-icon class="icon disable-multidateview" matSuffix svgIcon='DataEntryCard_ScrollRight_Icon'
              [id]="head.id" [ngClass]="head.class"></mat-icon>
          </div>
          <div *ngIf="!commonService.isMultiGridView" class='head-route' (click)="getNextDate()">
            <mat-icon class="icon" matSuffix svgIcon='DataEntryCard_ScrollRight_Icon' [id]="head.id"
              [ngClass]="head.class"></mat-icon>
          </div>
        </div>

        <div class="headerIconcalander" [matTooltip]='head.title.toUpperCase()'
          [matTooltipDisabled]="commonService.tabletMode ? true : false">
          <div class='head-route' (click)="picker.open()">
            <mat-icon class="calanderIcon" matSuffix svgIcon='{{head.source}}' [id]="head.id" [ngClass]="head.class">
            </mat-icon>
          </div>
        </div>

        <mat-form-field class="datepickerelement">
          <input matInput [max]="maxDate" [value]="selectedDateObj" [matDatepicker]="picker"
            (dateChange)="dateChangeEvent($event)">
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf='head.type =="input"' class="title-header non-border" [ngClass]="head.float">
        <input type="text" [placeholder]="head.title" />
      </div>
      <div *ngIf='head.type =="button"' class="div-header-button" [ngClass]="head.float">
        <button [ngClass]="head.class" class="header-button" type="button"
          (click)="onClick(head)">{{head.title}}</button>
      </div>

      <div *ngIf='head.type =="searchinput"' class="search-title-header non-border" [ngClass]="head.float">
        <input class="header-search-text" [(ngModel)]='filterText' id="filter" type="text" placeholder="   Search"
          autofocus autocomplete="off" (keyup)="debouncedClick($event)" #inputSearch />
        <mat-icon matSuffix class="search-clear-icon" matTooltip='CLOSE' svgIcon="V3 CloseCancel"
          (click)="clearFilter()">
        </mat-icon>
      </div>

      <div *ngIf='head.type =="ngselect"' class="search-title-header non-border" [ngClass]="head.float">
        <div style="padding: 10px 8px;">{{head.title+' : '}}</div>
        <ng-select class="Sg-header-ng-select" [multiple]="false" [bindLabel]="'text'" [placeholder]="head.title"
          [notFoundText]="'No Matches...'" [items]="head.options" [appendTo]="'body'" [formControl]="head.defaultValue">
        </ng-select>
      </div>
      <!-- <div *ngIf='head.type =="ngselect"' class="search-title-header non-border" [ngClass]="head.float">
        <div style="padding: 10px 8px;">{{head.title+' : '}}</div>
        <mat-form-field>
          <mat-select class="Sg-header-ng-select" [formControl]="head.defaultValue" [placeholder]="head.title">
            <mat-option *ngFor="let option of head.options" [value]="option" >{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->


    </div>
  </div>
</div>