<div class="HomeFabricDrawingArea full-view" >

    <div [matMenuTriggerFor]="menu" class="settingIcon">
      <mat-icon class="h-icon" matSuffix matTooltip='SETTINGS' svgIcon="Settings"></mat-icon>
    </div>

    <div [matMenuTriggerFor]="menu" class="settingIcon bottom">
      <mat-icon class="h-icon" matSuffix matTooltip='VISUR LIVE CHAT' svgIcon="Chat"></mat-icon>
    </div>

  <div class="full-view welcome-part" *ngIf="isinitilize && isListShow">
    <div class="half-width bdr-r">
        <div class='Welcome-label'>WELCOME TO</div>
        <div class='company-name'>VISUR TECHNOLOGIES CORPORATION</div>
        <div class='sub-title'>A DIGITAL WORKSPACE FOR THE ENERGY INDUSTRY</div>
        <div class='content-details'> VISUR platform provides you with comprehensive tools to  manage 
          your business, improve efficiency, reduce spent and increase profit!
        </div>

        <div class='sub-content sub-padding'>
          <div> The documentation available in Adobe PDF format. </div>
          <div> To View PDF Files please download Adobe Acrobat Reader. </div>
          <div *ngIf="isDesktop">
            <a class='href-link' (click)="navigateToExternalUrlInDesktopApp($event,'https://acrobat.adobe.com/us/en/acrobat/pdf-reader-html')">https://acrotbat.adobe.com/us/en/acrobat/pdf-reader.html</a>

          </div>
          <div *ngIf="!isDesktop">
            <a class='href-link' href="https://acrobat.adobe.com/us/en/acrobat/pdf-reader-html" target="_blank" >https://acrotbat.adobe.com/us/en/acrobat/pdf-reader.html</a>
          </div>
        </div>

        <div class="inline-flex-display">
          <button class="home-btn">Download Documentation</button>
          <button class="home-btn margin-l">Watch Tutorial </button>
        </div>
    </div> 
    <div class="half-width padding-l">
      <div class='inline-flex-display full-view'>
        <div class='dsk-app'>
          <div class='company-name'>VISUR DESKTOP APP</div>
          <div class='sub-title'> RELIABLE AND EFFICIENT WORKSPACE </div>
          <div class='expand-list scrollbar'>
            


            <mat-accordion>
              <mat-expansion-panel class="non-bg mat-elevation-z" #about >
                <mat-expansion-panel-header  collapsedHeight="30px" expandedHeight="30px">
                  <mat-icon class="expandIcon" matSuffix [svgIcon]= "about.expanded ? 'V3 ToggleDown' : 'ExpandAccordion'" ></mat-icon>
                  <div class='expand-header'>
                    About Application
                  </div>
                </mat-expansion-panel-header>
            
               <div class='expand-body' >
                  <div class='sub-name'>
                    VISUR Desktop Application.
                  </div>
                  Posuere inceptos orci vulputate aliquet gravida sodales iaculis tortor, sociosqu ipsum conubia lorem luctus suspendisse hac a pulvinar et nunc dictumst netus amet, euismod sapien hac vitae phasellus platea, nunc rtrum nam posuere erat.
               </div>
              </mat-expansion-panel>
              <mat-expansion-panel class="non-bg mat-elevation-z" #system >
                <mat-expansion-panel-header  collapsedHeight="30px" expandedHeight="30px">
                  <mat-icon class="expandIcon" matSuffix [svgIcon]= "system.expanded ? 'V3 ToggleDown' : 'ExpandAccordion'" ></mat-icon>
                  <div class='expand-header'>
                    System Requirments
                  </div>
                </mat-expansion-panel-header>
            
                <div class='expand-body' >
                  <div class='sub-name'>
                    Windows:
                  </div>
                  <div> Processor - Intel or AMD processor with 64-bit support*; 2GHz or faster processor. </div>
                  <div> RAM - 2GB or more of RAM (8 GB Recommended) </div>
                  <div> Graphics processor - OpenGL 2.0 - capable System </div>
                  <div> Monitor resolution - 1024 * 768 </div>
                  <div> Leader more about VISUR latest capabilities. </div>
                  
               </div>
              </mat-expansion-panel>
            
            </mat-accordion>


          </div>
          <div class='sub-content margin-b' >
              Learn more about VISUR latest capabilities.
          </div>
          <div *ngIf="isDesktop">
            <button class="home-btn" (click)='navigateToExternalUrlInDesktopApp($event,VisurUrl)'>Visit us online</button> 
          </div>
          <div *ngIf="!isDesktop">
            <a href='https://visur.one'  target="_blank" ><button class="home-btn">Visit us online</button> </a>
          </div>
        </div>
        <div class='dsk-app'>
          <img class="dsk-img" src='wwwroot/images/Home Screen svg/VISUR Desktop.png' alt='Desktop Application' /> 
          <div *ngIf="isDesktop">
            <button class="home-btn margin-btn" (click)='navigateToExternalUrlInDesktopApp($event,desktopAppDownloadLink)'>Download Desktop App</button>
          </div>
          <div *ngIf="!isDesktop">
            <a [attr.href]="desktopAppDownloadLink"  target="_blank" ><button class="home-btn margin-btn">Download Desktop App</button></a>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <div class='seprator bdr-b' *ngIf="isinitilize && isListShow" ></div>


  <!-- Functionality need to implement. so I have commented. Don't delete -->
  <!-- <div class='recent-filter full-width'>
    <div class='recent-header'>
      <div class='recent float-l'> Recent </div>
      <div class='recent float-l'> Filter </div>
      <div class='recent f-r float-l'> filter recent </div>

      <mat-icon class="h-icon float-r" matTooltip='LIST VIEW' (click)='changeListView()' matSuffix svgIcon="List-View"></mat-icon>
      <mat-icon class="h-icon float-r" matTooltip='GRID VIEW' (click)='changeGridView()' matSuffix svgIcon="Grid-View"></mat-icon>

    </div>
    <div class='recent-content-details full-width scrollbar '>
      <div *ngIf='!isList' class='inline-flex-display'>
        <div class='recent-lists' *ngFor='let list of historyJson'>
          <img class='recent-img' [src]='list.Source' [alt]='list.EntityName'/>
          <div class='recent-name'> {{list.EntityName}} </div> 
          <div class='recent-name'> Opened: {{list.TimeStamp}} </div> 
        </div>
      </div>
      <div *ngIf='isList'>
        <div class='full-width inline-flex-display' >
          <div class='lists-view-name t-col'>Name</div> 
          <div class='lists-view-name t-col'>Opened</div> 
        </div>
        <div class='t-row full-width bdr-t inline-flex-display' *ngFor='let list of historyJson'>
          <div class='recent-name t-col'> {{list.EntityName}}</div> 
          <div class='recent-name t-col'> {{list.TimeStamp}}</div> 
        </div>
      </div>
    </div>
  </div> -->

</div>



<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let item of homejson">
    <mat-checkbox [(ngModel)]="item.value" (change)="onChange($event,item)">{{ item.lable }}</mat-checkbox>
  </button>
</mat-menu>
