@import "../../../globals/base-properties.styles.scss";
@import "../../../globals/theme";

.HomeFabricDrawingArea {
  position: $common-position;
  padding: 42px;
  box-sizing: border-box;
  background-color: var(--sideContainer-BackGroundColor);
}

.settingIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 25px;
  margin: 8px;
  z-index: 5;
}

.welcome-part{
  width: 100%;
  height: 300px;
  position: relative;
  display: inline-flex;
}

.half-width{
  width: 50%;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  font-style: $font-family;
  font-weight: 300;
  color: var(--form-value-Color)
}

.Welcome-label {
  font-size: 18px;
  font-weight: 400;
  opacity:0.4;
  cursor: default;
  padding: 5px 0px;
}

.company-name {
  font-size: 26px;
  text-transform: uppercase;
   

}

.sub-title {
  font-size: 14px;
  text-transform: uppercase;
   

}

.content-details {
  font-size: 16px;
  margin: 25px 0px;
}

.sub-content{
  font-size: 12px;
}

.href-link{
  font-size: 10px;
  color: var(--active-BackGroundColor);
  color: #73BFF3;
  cursor: pointer;
  text-decoration: underline;
}

.home-btn{
  // border: 1px solid white;
  border: 1px solid var(--prod-value-background);
  background: transparent;
  padding: 6px 20px;
  font-size: 12px;
  cursor: pointer;
  text-transform: uppercase;
   

}

.bdr-r{
  border-right: 0.5px solid #707070; 
}

.bdr-b{
  border-bottom: 0.5px solid #707070; 
}

.bdr-t{
  border-top: 0.5px solid #707070; 
}

.bottom{
  bottom: 42px;
}

.sub-padding{
  padding: 40px 0px 10px;
}

.margin-l{
  margin-left: 20px;
}

.margin-b{
  margin-bottom: 10px; 
}

.margin-btn{
  margin: 15px 20px;
}

.padding-l{
  padding-left: 42px;
  box-sizing: border-box;
}

.dsk-app{
  width: 50%;
  height: 100%;
  position: relative;
}

.expand-list{
  width: calc(100% - 25px);
  height: 190px;
  overflow: auto;
  color: var(--form-value-Color);
}

.dsk-img{
  width: 243px;
  height: 243px;
}

.seprator{
  width: 100%;
  height: 25px;
}

.recent-header{
  width: calc(100% - 10px );
  height: 42px;
  padding: 10px 0px;
  position: relative;
  box-sizing: border-box;
}

.h-icon{
  width: 25px;
  height: 25px;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.6;
}

.recent{
  color: var(--form-value-Color);
  padding-right: 30px;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer; 
}

.f-r{
  font-size: 15px;
  font-weight: 100;
  opacity: 0.5;
  text-decoration: underline;
}

.recent-content-details{
  overflow: auto;
  height: 130px;
  flex-wrap: wrap;
}

.recent-lists{
  width: 150px;
  height: 130px;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
}

.recent-img:hover{
  background-color: var(--mouseHover-BackGroundColor);
}

.recent-img{
  width:130px;
  height: 90px;
}

.recent-name{
  font-size: 10px;
  color: var(--form-value-Color);
  width: 100%;
  font-weight: 100;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.lists-view-name{
  font-size: 15px;
  opacity: 0.5;
  color: var(--form-value-Color);
  font-weight: 300;
}

.t-col{
  width: 50%;
  padding: 5px;
}

.h-icon:hover {
  opacity: 1;
}

.t-row:hover{
  background-color: var(--mouseHover-BackGroundColor);
}

.expandIcon{
  width: 22px;
  height: 12px;
  padding: 0px 5px;
  box-sizing: border-box;
}

.expand-header{
  font-size: 16px;
  font-weight: 300;
  color: var(--form-value-Color);
}

.non-bg:hover{
  background-color: transparent !important;
}

.sub-name{
  font-size: 12px;
  opacity: 0.7;
  font-weight: 300;
  color: var(--form-value-Color);
}

.expand-body{
  color: var(--form-value-Color);
  opacity: 0.7;
  font-weight: 200;
  font-size: 12px;
}



@media only screen and (max-width: 1175px) {
  .welcome-part{
    display: block;
  }

  .half-width{
    width: 100%;
  }

  .padding-l{
    padding-left: 0px;
    padding-top: 42px; 
  }

  .bdr-r{
    border-right: none;
  }

}