<div class="construction-json-schema-form">
  <json-schema-form *ngIf='isInitilize && layout && options' [framework]="options.framework" [schema]="schema" [layout]="layout"
    [roles]="roles" [images]="images" [userRoles]="userRoles" [data]="data" [state]="state" [(updateData)]="updateData"
    [options]="options" (routeEvent)="click($event)" (onChanges)="onChange($event)" (onSubmit)="onSubmitFn($event)"
    (isValid)="isValidFn($event)" (validationErrors)="validationErrors($event)" (lookUpQuery)="lookUpQuery($event)"
    (enumValueChangeEvent)="enumValueUpdate($event)" [formulas]="formulas" (toggleChangeEvent)="onToggleChange($event)"
    (treeAction)="treeAction($event)" (filterSave)="onFilterFn($event)">
    <!-- (virtualKeyboardEvent)="onVirtualKeyboarEvent($event)" -->
  </json-schema-form>
</div>
