<div id="dbformTemplatePosition1"*ngIf="commonService.addanalysisform" >
 


  <form #dbsaveForm="ngForm" (ngSubmit)="ValidateForm()">
    <div id="dbAddNewFormHeader" #FormDragArea>
      <div id="dbformTitle">
        Add New Analysis
        <img class="dbformHeaderBtn" src="wwwroot/images/AlThing UI Icon-Button Set v1/FDC_Close_Icon_Idle.svg" (click)="CloseForm()" />
        <img class="dbformHeaderBtn" src="wwwroot/images/AlThing UI Icon-Button Set v1/FDC_Checkmark_Icon_Idle.svg" *ngIf="!form2" (click)="AnalysisValidate()" />
      </div>
    </div>

    <div id="dbAddNewFormContent1">
      <div *ngIf="dbFormVisible" class="margin-l">
        <div *ngFor="let property of htmlFormSchema; let j=index;" class="{{property['Wideclass']}} inline-flex-display margin-l" [style.float]="property['Type']=='text'?'left':property['Type']=='img'?'left':'none'">
          <div *ngIf="property['Type'] === 'enum' " class="{{property['Class']}}">
            <mat-form-field class="matFieldSize">
              <mat-select placeholder="{{property['Label']}}" class="title-label" [(ngModel)]="data[property['Label']]['Value']" name="{{property['Label']}}" (selectionChange)="ShoWChartList($event)">
                <ng-scrollbar>
                  <mat-option *ngFor="let value of property['Values']" value="{{value}}">{{value}}</mat-option>
                </ng-scrollbar>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div id="ChartDiv" *ngFor="let property of htmlFormSchema; let j=index;" class="{{property['Wideclass']}} margin-l" [style.float]="property['Type']=='text'?'left':property['Type']=='img'?'left':'none'">
          <div *ngIf="property['Type'] === 'enum' " class="{{property['Class']}}">
            <mat-form-field class="matFieldSize">
              <mat-select placeholder="Chart Type" id="chart" name="Chart Type" (selectionChange)="chartSelectionChange($event)">
                <ng-scrollbar>
                  <mat-option *ngFor="let value of listofchart" value="{{value.name}}">
                    <img class="img-Icon" src="{{value.icon}}">
                    {{value.name}}
                  </mat-option>
                </ng-scrollbar>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div id="ProgressText1" *ngIf="ChartLoad1 == true && sourceSelected.length <=15">
          Fetching available charts for {{sourceSelected}}
        </div>
        <div id="ProgressText1" *ngIf="ChartLoad1 == true && sourceSelected.length >15">
          Fetching available charts for {{sourceSelected.substring(0, 15)}}...
        </div>
        <div *ngIf="ChartLoad1 == true" id="spin">
          <mat-progress-spinner color="primary"
                                mode="indeterminate" [diameter]="30" class="margin-l">
          </mat-progress-spinner>

        </div>
      </div>
    </div>
    <div id="dbAddNewFormContent3" *ngIf="form2 == true">
      <div *ngIf="dbFormVisible" class="margin-l">

        <div id="doneText" *ngIf="ChartLoad == false">
          New Analysis was successfully added!
        </div>
        <div id="ProgressText" *ngIf="ChartLoad == true">
          Working....
        </div>
        <div *ngIf="ChartLoad == true" id="spin">
          <mat-progress-spinner color="primary"
                                mode="indeterminate" [diameter]="70" class="margin-l">
          </mat-progress-spinner>

        </div>
        <div *ngIf="ChartLoad == false" id="doneImg">
          <img id="Success" src="../../../../../../../wwwroot/images/Success.svg" />

        </div>
      </div>
      </div>

</form>
  </div>

<div id="dbformTemplatePosition" *ngIf="!commonService.addanalysisform">
  <div id="dbformgenerator">
    <form #dbsaveForm="ngForm" (ngSubmit)="ValidateForm()">

      <!--<div id="dbAddNewFormHeader" #FormDragArea>
        <div id="dbformTitle">
          {{EntityName | titleCase}}
          <img class="dbformHeaderBtn" src="wwwroot/images/AlThing UI Icon-Button Set v1/FDC_Close_Icon_Idle.svg" (click)="CloseForm()" />
          <img class="dbformHeaderBtn" src="wwwroot/images/AlThing UI Icon-Button Set v1/FDC_Checkmark_Icon_Idle.svg" (click)="ValidateForm()" />
        </div>
      </div>-->
      <div id="dbAddNewFormContent">
        <div  >
          <div *ngFor="let property of htmlFormSchema; let j=index;" class="{{property['Wideclass']}} inline-flex-display" [style.float]="property['Type']=='text'?'left':property['Type']=='img'?'left':'none'">
         
            <div *ngIf="property['Type'] === 'enum' " >
              <div class='cust-input'>
                <div class='title-label' [ngClass]="{'error':(isValid)}"> {{property['Label']}} </div>
                <div class='input-area datasourcefield'>
                  <mat-select placeholder="{{property['Label']}}" class="biselect"  [(ngModel)]="data[property['actualName']]['Value']" (selectionChange)="checkfield()" name="{{property['Label']}}">
                    <ng-scrollbar>
                      <mat-option *ngFor="let value of property['Values']" value="{{value}}">{{value}}</mat-option>
                    </ng-scrollbar>
                  </mat-select>
                  </div>
                </div>
                </div>
              </div>
            </div>
      </div>
    </form>
  </div>
</div>
