@import "../../../globals/base-properties.styles.scss";

#dialogBox {
  background-color: var(--sideContainer-BackGroundColor);
  border: thin solid #000000;
  box-sizing: border-box;
}

.logoutTitle {
  width: 100%;
  height: 42px;
  background-color: var(--popUpHeader-BackGroundColor);
  border-bottom: 0.5px solid #000000;
}

#dialogContent {
  background-color: var(--sideContainer-BackGroundColor);
  cursor: default;
  padding: 42px 52px;
}

.title-label {
  font-size: 20px;
  color: $attention-message-color;
  cursor: default;
  font-family: Roboto Light;
  font-weight: 300;
  white-space: normal;
}

.primaryContent {
  height: auto;
  width: 100%;
  font-size: 1.3vw;
  color: #fbb03b;
  margin-left: 134px;
}

.secondaryContent {
  height: auto;
  width: 100%;
  font-size: 1vw;
  color: #ffffff;
  text-align: center;
}

.icon {
  position: relative;
  width: 3.3vw;
  height: 3vw;
  float: right;
  margin-top: -0.65vw;
}

.imgIcon {
  position: absolute;
  width: 30.7px;
  height: 35.3px;
  padding: 0.65vw;
}

.saveIcon:hover {
  background-color: #01683a;
}

.closeIcon:hover {
  background-color: #ab353d;
}

.headerIcon.right:hover {
  background: #01683a;
}
