
@import '../../../../globals/theme.scss';

#AddNew {
  background-color: var(--sideContainer-BackGroundColor);
  position: $commonPosition;
  z-index: 5;
  min-width: calc(1024px - (2 * #{$mainHeader-Height}));
  font-family: Roboto-Regular, serif;
  font-size: $formValue-FontSize;
  height: 100%;
}


.scroll-form {
  position: $commonPosition;
  overflow: auto;
}

// .input-area-width {
//   width: 224px !important;
// }

.header {
  height: $mainHeader-Height;
  border-bottom: $border;
  background-color: var(--sideHeader-BackGroundColor);
}

// #listcolor {
//   background-color: var(--mainHeader-BackGroundColor);
// }

.content-area {
  color: var(--form-value-Color);
  font-size: 18px;
  font-family: $common-FontStyle;
  padding: 15px;
  cursor: default;
}

.form-area {
  margin: 25px;
}

// .filed-mat {
//   color: var(--form-value-Color);
//   font-size: $formValue-FontSize;
// }

.btn {
  background-color: var(--active-BackGroundColor);
  padding: 5px 15px;
  color: var(--form-value-Color);
}

.right {
  float: right;
}

.left {
  float: left;
}


.btn-step {
  padding: 7px 25px;
  background-color: var(--active-BackGroundColor);
  color: var(--form-value-Color);
  border: none;
  font-size: 12px;
  cursor: pointer;
}

// #listoption {
//   padding: 2px;
//   font-size: 10px !important;
//   height: 28px;
// }

// .form-footer {
//   height: $mainHeader-Height;
//   position: absolute;
//   bottom: 0px;
//   z-index: 5;
// }

.container-body {
  position: $commonPosition;
}


// .create-entity-container {
//   top: $mainHeader-Height;
//   position: absolute;
//   height: calc(100% - #{$mainHeader-Height});
// }

// .scroll-form-template {
//   width: 100%;
//   height: 100%;
//   overflow-x: auto;
//   overflow-y: hidden;
//   position: absolute;
// }

// #form-template {
//   width: 100%;
//   height: 100%;
//   background-color: var(--sideContainer-BackGroundColor);
//   position: absolute;
//   z-index: 5;
// }

// .form-template-min-width {
//   min-width: calc(1024px - 2 * #{$mainHeader-Height});
// }

// .scrollformTemplate {
//   width: 100%;
//   height: 100%;
//   overflow-x: hidden;
//   overflow-y: auto;
//   position: absolute;
// }

.bi-popup-form {
  background-color: var(--sideContainer-BackGroundColor);
  border: 1px solid #000000;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 400px;
}

.form-header {
  position: relative;
  height: $mainHeader-Height;
  background-color: var(--sideHeader-BackGroundColor);
  border-bottom: $border;
}

.bicust-input {
  max-width: 50%!important;
}
