<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link id="FaviconId" rel="icon" type="image/x-icon" href="~/wwwroot/images/Favicon/VISUR_Favicon.ico">
  <link href="~/css/loginPage.css" rel="stylesheet" />
  <script src="~/js/loginPage.js"></script>

  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" 
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
          crossorigin="anonymous"></script>
  <script src="~/js/client.min.js"></script>
  <script>
    $(document).ready(function () {

      $(".show-password, .hide-password").on('click', function () {
        if ($(this).hasClass('show-password')) {
          $(this).parent().find(".show-password").hide();
          $(this).parent().find(".hide-password").show();
        } else {
          $(this).parent().find(".hide-password").hide();
          $(this).parent().find(".show-password").show();
        }
      });
    });
  </script>
</head>
<body onload="getDomainAndUserName()">
  <div class="container">
    <div class="box">
      <div class="logo-img"></div>
      <div class="inner-box">

        @using ICommonInterfaces.Model
        @model LoginModel
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { autocomplete = "off" }))
        {
          @Html.HiddenFor(m => m.tenantName)
          @Html.HiddenFor(m => m.deviceDetail)
          @Html.HiddenFor(m => m.url)
          @Html.HiddenFor(m => m.isChangePassword)
          @Html.PasswordFor(m => m.createPassword, new { @class = "textboxStyle", placeholder = "Enter new password...", autocomplete = "off", id = "newpwd", onkeypress = "return MoveCursorToNextField(this, event)", onkeyup = "passwordValidation(true, '')", onfocusin = "passwordValidation(true, '')" })
          <span class="password-showhide">
            <span class="show-password" onclick="hideShowToggle()">
              <img src="~/images/loginimages/show_password_toggle.svg" />
            </span>
            <span class="hide-password" onclick="hideShowToggle()">
              <img src="~/images/loginimages/hide_password_toggle.svg" />
            </span>
          </span>
          <span onclick="passwordValidation(false, ''), blinkText()">
            @Html.PasswordFor(m => m.confirmPassword, new { @class = "textboxStyle textboxStyle_cp", placeholder = "Confirm new password...", autocomplete = "off", id = "confirmpwd", disabled = "disabled", onkeypress = "btnFocusActivate(this, event)", onkeyup = "passwordMatch(true)" })
          </span>

          <span onclick="passwordValidation(false, 'submit'), blinkText()">
            <input type="text" value="SUBMIT" class="overrideInputBtnText rectangle" id="submitPassword" disabled="disabled">
          </span>
        }
        <div class="error-message-ip">
          <h2 class="error-message" id="blinking-text">@ViewBag.message</h2>
          <h2 class="correct-message">@ViewBag.correctMsg</h2>
        </div>

        <!-- <h2 class="passwordValidation-message">@ViewBag.passwordValidationMessage</h2> -->
        <h2 class="passwordValidation-message">Password must contain 8 characters minimum and 15 characters maximum.<br>Password must contain, one number, one special character and minimum one lower and upper case letter.</h2>
      </div>
    </div>

    <svg class="LiveChatSupport" viewBox="0 0 21 21">
      <path d="M1.8,0v17.3h13.5l3.8,3.7v-3.7v-1.3V0H1.8z M5.1,3.3h10.8v2.2H5.1V3.3z M5.1,7.6h10.8v2.2H5.1V7.6z M11.6,14.1   H5.1v-2.2h6.5V14.1z" />
    </svg>
  </div>
</body>
</html>
