<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link id="FaviconId" rel="icon" type="image/x-icon" href="~/images/Favicon/VISUR_Favicon.ico">
  <link href="~/css/loginPage.css" rel="stylesheet" />
  <script src="~/js/loginPage.js"></script>
</head>
<body onload="getDeviceDetailFromLS()">
  <div class="container">
    <div class="box">
      <div class="logo-img"></div>
      <div class="inner-box">

        @using ICommonInterfaces.Model
        @model LoginModel
        @using (Html.BeginForm("ChangePasswordOTPAuth", "Home", FormMethod.Post))
        {
          @Html.HiddenFor(m => m.tenantName)
          @Html.HiddenFor(m => m.username)
          @Html.HiddenFor(m => m.password)
          @Html.HiddenFor(m => m.deviceDetail)
          @Html.HiddenFor(m => m.url)
          @Html.HiddenFor(m => m.isChangePassword)
          @Html.HiddenFor(m => m.createPassword)
          @Html.HiddenFor(m => m.confirmPassword)
          @Html.TextBoxFor(m => m.otpCode, new { @class = "textboxStyle", placeholder = "Enter verification code...", autofocus = "autofocus", autocomplete = "off", onkeypress = "btnFocusActivate(this, event)" })

          <input type="submit" value="SUBMIT" class="rectangle" />
        }

        <div class="popover_wrapper">
          <img src="~/images/Question_Outlined_white.svg" class="hint" />
          <div class="popover_message popover_content">
            The verification code was sent to the phone<br>
            number associated with your account.<br>
            It make take a few minutes to receive your<br>
            verification code.<br><br>
            If you still experience difficulties with login,<br>
            please contact our <a href="https://visur.one/premium-support/" class="support" target="_blank">support</a> or use our Live Chat<br>
            located at the right lower corner of the screen.
          </div>
        </div>

        <div class="error-message-ip message-hint">
          <h2 class="error-message">@ViewBag.message</h2>
          <h2 class="correct-message">@ViewBag.correctMsg</h2>
        </div>

        @using (Html.BeginForm("ResendOTP", "Home", FormMethod.Post))
        {
          @Html.HiddenFor(m => m.tenantName)
          @Html.HiddenFor(m => m.username)
          @Html.HiddenFor(m => m.password)
          @Html.HiddenFor(m => m.deviceDetail)
          @Html.HiddenFor(m => m.url)
          @Html.HiddenFor(m => m.isChangePassword)
          @Html.HiddenFor(m => m.createPassword)
          @Html.HiddenFor(m => m.confirmPassword)
          <div class="linkPadding"><input type="submit" value="Resend Verification Code" class="linkButton"></div>
        }
      </div>
    </div>

    <svg class="LiveChatSupport" viewBox="0 0 21 21">
      <path d="M1.8,0v17.3h13.5l3.8,3.7v-3.7v-1.3V0H1.8z M5.1,3.3h10.8v2.2H5.1V3.3z M5.1,7.6h10.8v2.2H5.1V7.6z M11.6,14.1   H5.1v-2.2h6.5V14.1z" />
    </svg>
  </div>
</body>
</html>
