<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
  <link id="FaviconId" rel="icon" type="image/x-icon" href="~/wwwroot/images/Favicon/VISUR_Favicon.ico">
  <link href="~/css/loginPage.css" rel="stylesheet" />
  <script src="~/js/loginPage.js"></script>

  <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" 
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
          crossorigin="anonymous"></script>
  <script src="~/js/client.min.js"></script>
</head>
<body onload="isUserLogin('token'); getDeviceDetail();">

  <div class="container">

    <div class="box">
      <div class="logo-img"></div>

      <div class="inner-box">

        @using ICommonInterfaces.Model
        @model LoginModel
        @using (Html.BeginForm("UsernameAuthentication", "Home", FormMethod.Get))
        {
          @Html.HiddenFor(m => m.tenantName)
          @Html.TextBoxFor(m => m.username, new { @class = "textboxStyle", placeholder = "Enter your email address...", autofocus = "autofocus", autocomplete = "on", onkeypress = "btnFocusActivate(this, event)", id = "un" })
          <input type="submit" value="NEXT" class="rectangle" id="submitPassword" disabled="disabled" />
        }

        <div class="error-message-ip">
          <h2 class="error-message" id='ip-error-message'>@ViewBag.message</h2>
          <h2 class="correct-message">@ViewBag.correctMsg</h2>
        </div>

        <div class="blinking-text" id="blinking-text">VERIFYING DEVICE.</div>
      </div>
    </div>

    <svg class="LiveChatSupport" viewBox="0 0 21 21">
      <path d="M1.8,0v17.3h13.5l3.8,3.7v-3.7v-1.3V0H1.8z M5.1,3.3h10.8v2.2H5.1V3.3z M5.1,7.6h10.8v2.2H5.1V7.6z M11.6,14.1   H5.1v-2.2h6.5V14.1z" />
    </svg>

  </div>

</body>
</html>
