@import '../../../globals/theme.scss';
@import "../../../globals/base-properties.styles.scss";

  .form-area {
  width: 15%;
  margin-left:20px;
  }
.formselectarea{
    width: 200px;
}

.inline-flex-display {
  display: inline-table !important;
}