
@import "../../../globals/base-properties.styles.scss";
@import '../../../globals/theme.scss';

#userSettings {
      background-color: var(--sideContainer-BackGroundColor);
      position:$commonPosition;
      box-sizing: border-box;
      border:0.8px solid #000000;
      // width: 1020px;
      height: 550px;
}

.form-container-body {
  width: 100%;
  // height: calc( 100% - #{$mainHeader-Height});
  // padding: 20px 30px;
  padding-left: 52px;
  padding-bottom: 42px;
  padding-right: 52px;
  padding-top: 42px;
  box-sizing: border-box;
  // overflow:auto;
  max-width: 100%;
  max-height: 96%;
  background: var(--sideContainer-BackGroundColor);
  // width: 1017.5px;
  // height: 548.04px;
  }

  .list {
    font-size: 14px;
    padding: 2px 7px;
    color: var(--statusHeader-FontColor);
    cursor: pointer;
    display: inline;
  }
  .Preferencesdivider{
    width: 87%;
    height: 0.1px;
    position: relative;
    margin-left: 95px;
    margin-top: 103px;
    size :0.5px;
    border:0.1px solid #7A797A;
    bottom: 112px;
  }

  #theme{
    height: 22px;
  }

  .header-form {
    width: 100%;// Bug #52923 [Alignment issue : user settings] When theme color is light ,allignment issue displayed right side of cancel button in the top of user settings form.
    height: 41px;
    position: relative;
    background-color: var(--popUpHeader-BackGroundColor) !important;
  }

  .subHeader {
    width: 100%;
    height: $mainHeader-Height;
    font-size: $form-title-fontsize;
    color: var(--form-value-Color);
    cursor: default;
  }

  .name-title{
    height: $mainHeader-Height;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    font-size: $form-title-fontsize;
    left: 65px;
    top: 63px;
    color: var(--form-value-Color);
    cursor: default;
    // top:45px;
   // height: 10%;
    //position: relative;
    //left: 50px;
    //clear: both;
  }

  .theme-title{
    //height: $mainHeader-Height;
    padding: 5px;
    box-sizing: border-box;
    font-size: $sideNode-FontSize;;
    color: $grey-color;
    cursor: default;
    opacity: 0.7;
    font-family: Roboto;
    font-weight: 400;
    height: 10%;
    position: relative;
    top: 240px;
  }

  .mainGrid {
    width: 20%;
  }

  .inputFieldWidth {
    width:215px;
  }


  #content{
    //  min-width: calc( 1024px - 84px);
    //  min-width: calc( 1017.5px - 0px);
    // overflow: hidden;
  }

  .zoomicconstyle {
    width: 27px;
    height: 27px;
    cursor: pointer;
    padding: 6px;
    border: 1px solid !important;
    border:transparent;
    box-sizing: border-box;
  }

  .tabLetToggle {
    font-size: 14px;
    padding: 0.2% 0.8%;
    color: var(--statusHeader-FontColor);
    cursor: pointer;
    display: inline;
    margin-top: 48px;
    position: absolute;

  }
  .ZoomToggle {
    font-size: 14px;
    padding: 4px 10px;
    color: var(--statusHeader-FontColor);
    cursor: pointer;
    display: inline;
  }

  .disabled {
  pointer-events: none !important;
  opacity: 0.3 !important;
  }

  .ZoomButton {
    font-size: 14px;
    margin-top:-10px;
    color: var(--statusHeader-FontColor);
    cursor: pointer;
    display: inline;
  }
  .ZoomPercent {
    font-size: 14px;
    padding: 4px 0px;
    color: var(--statusHeader-FontColor);
    display: inline;
  }


  .themecolor-title-label{
    padding: 0px 5px;
    font-size: $formValue-FontSize;
    color: var(--form-Title-Color);
    text-shadow: 0 0 1px var(--form-lebal-text-shadow);
  }
  .tabletmode-title-label{
    //padding: 0px 1%;
    padding: 0px 0.5%;
    font-size: $formValue-FontSize;
    color: var(--form-Title-Color);
    text-shadow: 0 0 1px var(--form-lebal-text-shadow);
    position: absolute;
    margin-top: 48px;
    
  }
  .buttonmode-label{
    padding: 0px 1%;
    font-size: $formValue-FontSize;
    color: var(--form-Title-Color);
    text-shadow: 0 0 1px var(--form-lebal-text-shadow);
  }
  .keypadmode-label{
    padding: 0px 11%;
    font-size: $formValue-FontSize;
    color: var(--form-Title-Color);
    text-shadow: 0 0 1px var(--form-lebal-text-shadow);
  }
  .toggle-label{
    font-size: $formValue-FontSize;
    margin:-19px 25px;
    //padding: 0.2% 0.9%
    padding: 0.2% 0.9%;
  }
  .keypadmodetoggle-label{
    font-size: $formValue-FontSize;
    margin: -19px 68%;
  }
  .buttonmode-toggle-label{
    font-size: $formValue-FontSize;
    margin: -19px 26px;
  }
  .buttonToggle{
    font-size: 14px;
    padding: 0px 22px;
    color: var(--statusHeader-FontColor);
    cursor: pointer;
  }
  .keyPadToggle{
    font-size: 14px;
    padding: 0px 60%;
    color: var(--statusHeader-FontColor);
    cursor: pointer;
    display: inline;
  }
  .tabletToggles{
    font-size: 14px;
    width: 38%;
    color: var(--statusHeader-FontColor);
    cursor: pointer;
    display: inline;
  }

//##########
.name-title-one{
  height: 10%;
  position: relative;
  left: 50px;
  clear: both;
}

.UserSettingContent{
  height: 50%;
  position: relative;
}

.theme-title-one {
  height: 10%;
  position: relative;
  top: 240px;
}

.UserPrefrenceBtnHeader{
  height: 15%;
  position: relative;
  top: 140px;
  margin-top: 15px;
}

.UserPrefrenceBtn{
  height: 15%;
  position: relative;
  top:138px;

}
.disable_Tab_Mode{
  pointer-events:none;
  opacity:0.5;
}

.keyboard-main {
  position: absolute;
  z-index: 1200;
  left:52px;
  bottom: 52px;  
}

#Keypaddiv {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 18.5px;
}

.dragIcon {
  width:100%;
  text-align: center;
  background: var(--mainHeader-BackGroundColor);
  color:var(--filter-border-color);
}

h6{
  text-align: left;
}