@font-face {
    font-family: 'Roboto Regular';
    src: url('../css/Roboto/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../css/Roboto/Roboto-Black.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../css/Roboto/Roboto-Thin.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../css/Roboto/Roboto-Light.ttf');
    font-display: swap;
}

.group {
    position: relative;
    margin-bottom: 1vw;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('../images/LoginPages/Login_Screen_Background.svg');
}

.helper {
    font-family: Times New Roman;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    background-image: url('../images/LoginPages/Login_Screen_Background.svg');
}

.formCss {
    align-items: center;
    align-content: center;
    background-color: blue;
    margin-left: 30%;
    margin-top: 20%;
}

.textboxStyle {
    font-family: Roboto Light;
    font-style: normal;
    border: none;
    padding: 0.5vw 0vw 0.5vw 0vw;
    color: white;
    display: block;
    margin: 1vw 0vw;
    text-align: center;
    align-content: center;
    border-bottom: 0.1vw solid #757575;
    width: 100%;
    font-size: 1.5vw;
    background: none;
}

.rectangle {
  cursor: pointer;
  width: 81%;
  height: 2.6vw;
  background: #318FD7;
  border: 0px solid #d9d9d9;
  border-radius: 0.2vw;
  -moz-border-radius: 0.2vw;
  -webkit-border-radius: 0.2vw;
  color: white;
  font-size: 2vw;
  font-family: Roboto Regular;
  background-image: url('../images/LoginPages/Next_Button.svg');
}

.modal-backdrop {
    z-index: 0 !important;
}

.error-message {
  /*font-size:2vw;*/
  font-size: 1.5vw;
  /*font-size: 1.7vw;*/
  /*color: red;*/
  color: #ED1C24;
  position: absolute;
  /*top: 0vw;*/
  top: 27vw;
  left: 0vw;
  width: 100%;
  text-align: center;
  font-family: Roboto light;
}

.container {
    text-align: center;
    position: absolute;
    left: 0;
    overflow: hidden;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/LoginPages/Login_Screen_Main_Background.svg');
    background-size: auto;
}


.content-box {
    position: absolute;
    width: 24vw;
    height: 15vw;
    left: 38vw;
    top: 30vw;
}

.btn-rect {
    width: 100%;
    height: 2vw;
    background-color: #318FD7;
    font-size:2vw;
}

.logo-img {
    position: absolute;
    left:0vw;
    top:0vw;
}

.background-img {
    position: absolute;
    text-align:center;
    left: 0vw;
    top: 0vw;
    margin: 0vw;
    padding: 0vw;
}

a {
    text-decoration: none;
    color: white;
}
