@import '../../../../globals/theme.scss';

.permissionsRoleCreator {
  width: calc(100% - 0.5px);
  height: 100%;
  background-color: var(--sideContainer-BackGroundColor);
  color: var(--form-value-Color);
}
input::placeholder{
  color: var(--error-color) !important;
  opacity: 5;
}
.permissionRoleComponentHeading {
  width: 100%;
  height: 42px;
  background-color: var(--sideHeader-BackGroundColor);
  border-bottom: $border;
}
.role-header {
  width: 100%;
  background-color: var(--mainHeader-BackGroundColor);
  height: $mainHeader-Height;
  border-bottom: $border;
  border-right: $border;
}
.input {
  width: 20%;
  height: 100%;
  font: 300 $form-title-fontsize Roboto !important;
  margin-left: 11px;
}
.head-route {
  width: $mainHeader-Height;
  height: $mainHeader-Height;
}
.CLOSEIcon{
  border-left: $border;
}
.ECIcon{
  border-right: $border;
}
.SaveIcon {
  border-left: $border;
}
.CLOSEIcon:hover {
  background-color: red;
  cursor: pointer;
}
.ECIcon:hover {
  background-color: var(--mouseHover-BackGroundColor);
  cursor: pointer;
}
.SaveIcon:hover {
  background-color: #335238;
  cursor: pointer;
}
.container-body {
  position: $commonPosition;
  height:  calc(100% - (#{$mainHeader-Height}));
  width: 100%;
}

.deleteSvg{
  width:13px;
  float: right;
  //margin-top:25px;
}

.savingSuccess {
  margin: auto;
  display: block;
  width: 25%;
  margin-top: 89px;
}

.btn-step {
  padding: 7px 25px;
  margin: 8px;
  background-color: var(--active-BackGroundColor);
  color: var(--form-value-Color);
  border: none;
  font-size: 12px;
  cursor: pointer;
}
.right{
  float: right;
}
.left{
  float: left;
}
.form-footer {
  height: $mainHeader-Height;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 5;
  background-color: var(--sideHeader-BackGroundColor);
}
.formTemplate{
  width: 100%;
  height: 100%;
  position: absolute;
}
.scroll-y{
  overflow-x: hidden;
  overflow-y: auto;
}
.scrol-x {
  overflow-x: auto;
  overflow-y: hidden;
}
.expandIcon {
  display: inline-block;
  width: $toggle-Width;
  height: $toggle-Width;
  cursor: pointer;
  z-index: 5;
  font-size: 15px;
  margin-top: 16px;
  margin-left: 10px;
}
// form content css (managing form view)
.expansion-panel {
  background-color: transparent;
  box-shadow: none !important;
  color:var(--form-value-Color) !important;
}

.expansionheader {
  height: 49px !important;
  display: flex;
  color: var(--form-value-Color) !important;
  font-size: $formTitle-FontSize;
  padding: 0 10px 0 0px !important;
}

.toggleSvg1 {
  height: 14px;
  width: 14px;
  cursor: pointer;
  margin-top: 13.5px;
}

.labelnameHeader {
  padding: 16px 0px 16px 50px;
  width: 235px !important;
  font-size: $prodValue-FontSize;
}

.step3header {
  display: flex;
  width: 112px !important ;
}

.toggleheadlabel {
  margin-top: 5px;
}
.togglesidelabel {
  margin-top: 26px;
  margin-left: 8px;
  font-weight: 100;
}
.PermissioncurrentToggleLabel {
  font-family: var(--$common-FontStyle);
  margin-right: 30px;
  color: var(--form-Title-Color) !important;
}

.Permissionfdc-form {
  margin-top: 23px !important;
  margin-left: -61px;
}

.expansionbody {
  display: flex;
  //height: 100%;
  margin-left: 90px;
  font-size: $formTitle-FontSize;
  padding: 0 10px 0px 22px !important;
}

.bodytoggle {
  margin-left: 83px;
}
.bodytoggle1 {
  //margin-left: 4px;
}
.labelnameContent {
  margin-top: 18px;
  margin-left: 71px;
  width: 185px;
  font-weight: 100;
  font-size: $formValue-FontSize;
}
.nestedlabelnameHeader{
  margin-top: 18px;
  margin-left: 50px;
  font-size: $formValue-FontSize;
}
.popupLebelWidth{
  width: 238px;
}
.popupLebelWidth1{
  width: 356px;
}
.nestedlabelnameContent{
  margin-top: 18px;
  margin-left: 70px;
  width: 156px;
  font-weight: 100;
  font-size: $formValue-FontSize;
}
.step3body {
  display: inline-flex;
  margin-left: 86px;
}
#form-template {
  width: calc(100% - 1px);
  height: 100%;
  background-color: var(--sideContainer-BackGroundColor);
  position: absolute;
  z-index: 5;
}

#sr-input {
  width: 185px;
  height: 100%;
  font: 300 14px Roboto !important;
  margin-left: 11px;
  float: left;
}

#sr-header-toggle-div {
  display: inline-flex;
  width: 449px !important;
  float: left;
  margin-left: 39px;
}
.sr-toggle {
  margin-top: 20px;
  margin-left: 8px;
  font-weight: 100;
}

.form-template-min-width {
  min-width: calc(1024px - 2 * #{$mainHeader-Height});
}

:focus {
  -webkit-tap-highlight-color: transparent;
}
