<div class="permissionsRoleCreator" (treeDrop)="onDrop($event)">
  <div class='formTemplate scrol-x scrollbar'>
    <div id='form-template'>
      <div class="role-header">
        <div class="headerIcon" [matTooltip]='expandCollapseTitle?.toUpperCase()' [ngClass]="{'left': 'true'}">
          <div *ngIf='enabledisable'>
            <div class="head-route ECIcon" (click)="clickEvent('expandcollapse')">
              <mat-icon class="icon icon21-21" matSuffix svgIcon='{{expandCollapseIcon}}'></mat-icon>
            </div>
          </div>
        </div>
        <input type="text" id="sr-input" [placeholder]="'Enter Role Name'"  [(ngModel)]="roleDetails.newRoleName" (keydown)="keydownevent($event)" >
        <div *ngIf="formFieldData.length || rolePermissiondata.length" id="sr-header-toggle-div">
          <div style="width:116px;font-size:10px;display:inline-flex;" *ngFor="let operation of allOperation">
            <div class="toggleheadlabel">
              <label class="PermissioncurrentToggleLabel">{{operation.Name.toUpperCase()}}</label>
            </div>
            <mat-slide-toggle style="margin-top: 16px !important;margin-left: -61px;" [(ngModel)]="operation.Value"
              (click)="toStopPropagation($event)" (change)="MainHeaderToggleChange(operation.Name,operation.Value)">
            </mat-slide-toggle>
            <label *ngIf="!operation.Value" class="sr-toggle">off</label>
            <label *ngIf="operation.Value" class="sr-toggle">on</label>
          </div>
        </div>
        <div class="head-route right CLOSEIcon" (click)="clickEvent('close')" [matTooltip]="'CLOSE'">
          <mat-icon class="icon icon21-21" matSuffix svgIcon='V3 CloseCancel'></mat-icon>
        </div>
        <div *ngIf='!roleSavedInBackend' class="head-route right SaveIcon"
          (click)="createOrUpdateRole()" [matTooltip]="'SAVE'">
          <mat-icon class="icon icon21-21" matSuffix svgIcon='FDC_Checkmark_Icon_Idle'></mat-icon>
        </div>
      </div>
      <div class="container-body">
        <div class="formTemplate scroll-y scrollbar">
          <div class="thirdstep">
            <mat-accordion multi="true">
              <div class='bg-color' *ngFor="let value of rolePermissiondata; let i=index;">
                <mat-accordion>
                  <div *ngIf="value != undefined && value != null">
                    <div class="expansionheader">
                      <label class="labelnameHeader">{{value.SchemaName}}
                      </label>
                      <div *ngFor="let property of permissionsProperty">
                        <div class="step3header" *ngIf="property">
                          <div class="toggleheadlabel">
                            <label class="PermissioncurrentToggleLabel">{{property.Name}}</label>
                          </div>
                          <mat-slide-toggle class='Permissionfdc-form'
                            [(ngModel)]="rolePermissiondata[i].Permissions[property.Name]"
                            (click)="toStopPropagation($event)"
                            (change)="formToggleChange(property.Name,value.SchemaName,rolePermissiondata[i].Permissions[property.Name])">
                          </mat-slide-toggle>
                          <label *ngIf="!rolePermissiondata[i].Permissions[property.Name]"
                            class="togglesidelabel">off</label>
                          <label *ngIf="rolePermissiondata[i].Permissions[property.Name]"
                            class="togglesidelabel">on</label>
                        </div>
                        <div class="step3header" *ngIf="!allOperation"></div>
                      </div>
                      <div class="deleteSvg" (click)="deleteForms(rolePermissiondata[i])">
                        <mat-icon class="icon icon21-21" matSuffix svgIcon='FDC_Delete_Icon'>
                        </mat-icon>
                      </div>
                    </div>
                  </div>
                </mat-accordion>
              </div>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>