@import './../../../../globals/theme.scss';

::ng-deep .mat-dialog-container {
  //border: 1px solid !important;
  overflow: !important;
}

#popupheader{
  width: 100%;   
  height: 23px;
}

::ng-deep #capabilitytheme {
  .ng-scrollbar-view {
    max-height: calc(100% + 21px);
    overflow-x: scroll !important;
  }

  .ng-scrollbar {
    bottom: 0px !important;
  }

  .ng-scrollbar-container {
    height: 200px !important;
  }

  .ng-scrollbar {
    width: auto !important;
    right: 0px !important;
  }

  .-vertical {
    bottom: 13px !important;
  }

  .-horizontal {
    height: 6px;
    left: 2px;

    .ng-scrollbar-thumb {
      height: 100%;
      background-color: #318FD7;
    }
  }
}

  #dialogTitle {
    margin: 0 !important;
    height: 4px !important;
  }

  .dialogContent {
    margin-top:1vw;
    margin: 0;
    height: 180px !important;
    color: var(--form-value-Color);
    background-color: var(--sideContainer-BackGroundColor);
  }

  .material-icons {
    cursor: pointer !important;
    float: right;
    margin-top:-5px;
  }
