@import '../../../../globals/theme.scss';


.securityGroupsMain {
  position: $commonPosition;
  width: 100%;
  height: 100%;
  background-color: var(--sideContainer-BackGroundColor);
}

.input {
  width: 40%;
  height: 100%;
  font: 300 $form-title-fontsize Roboto !important;
  margin-left: 11px;
}
input::placeholder{
  color: var(--error-color) !important;
  opacity: 5;
}
.head-route {
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  border-left: $border;
}

.icon {
  width: 22px;
  margin: 10px;
  cursor: pointer;
}

.Security-group-heading {
  width: 100%;
  background-color: var(--mainHeader-BackGroundColor);
  height: $mainHeader-Height;
  //border: $border;
}

.head-route:hover {
  background-color: red;
  cursor: pointer;
}



.Security-header {
  width: 100%;
  height: 42px;
  background-color: var(--sideHeader-BackGroundColor);
  border-bottom: $border;
}

.secutity-div {
  position: relative;
  height: 100%;
  border-right: $border;
}
.SecurityGroupTree{
  width: 100%;
  position: relative;
  height: calc(100% - #{$mainHeader-Height});
  //border-left: $border;
}

.Security-groups-main-form {

  width : 100%;
  height: calc(100%  - #{$mainHeader-Height});
  display:inline-flex;
}

.Security-FormFooter {
  height: $mainHeader-Height;
  width:100%;
  position: absolute;
  background-color: var(--sideHeader-BackGroundColor);
  border-top: $border;
  z-index: 4;
}

.title-header {
  background-color: var(--sideHeader-BackGroundColor);
  font-size: $formValue-FontSize;
  color: var(--form-value-Color);
  padding: 12px;
  //border: $border;
  cursor: default;
}


.right {
  float: right;
}

.btn-step {
  padding: 4px 25px;
  background-color: var(--active-BackGroundColor);
  margin: 8px;
  color: var(--form-value-Color);
  border: none;
  font-size: 12px;
  cursor: pointer;
}
.scrollformTemplate{
  width: 100%;
  height: 94%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
}

.scroll-form-template {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  z-index: 8;
  background-color: var(--sideContainer-BackGroundColor);
}

#form-template {
  width: 100%;
  height: 100%;
  background-color: var(--sideContainer-BackGroundColor);
  position: absolute;
  z-index: 5;
}

.form-template-min-width {
  min-width: calc(1024px - 2 * #{$mainHeader-Height});
}


.SaveIcon:hover {
  background-color: #335238;
  cursor: pointer;
}

.search-title-header {
  max-width: 280px;
  font-family: $common-FontStyle;
  font-size: $form-title-fontsize;
  color: var(--form-value-Color);
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  cursor:default;
  position: relative;
  display: inline-flex;
}

.Sg-header-ng-select {
  width: 100%;
  min-width: 170px;
  height: 37px;
  /* font-size: 18px !important; */
  padding: 0 4px;
  border: none;
  font-family: roboto;
  font-weight: 300;
  z-index: 6;
  margin-top: -15px;
  background-color: var(--mainHeader-BackGroundColor) !important;
}

.disable-field{
  pointer-events: none;
  opacity: 0.8;
}

.half-width{
  width: 50%;
}

.display-inline-flex{
  display:inline-flex;
}