<div class="securityGroupsMain">
  <div >
    <div id='form-template' [ngClass]="{'form-template-min-width': !commonService.isMultiView }">
      <div class="Security-group-heading">
        <!-- <input type="text" class="input" [placeholder]="'Enter Security Group Name'" [(ngModel)]="securityGroupName" (keyup)="authorizationService.isSecurityGroupModified = true"> -->
        <input type="text" class="input" [placeholder]="'Enter Security Group Name'" [(ngModel)]="securityGroupName">
        <div *ngIf="enable"  class="search-title-header non-border">
          <div style="padding: 10px 8px;">{{'Entity Type : '}}</div>
            <ng-select class="Sg-header-ng-select"  [ngClass]="{'disable-field':!isAddNewSecurityGroup}"
            [multiple]="false"
            [bindLabel]="'text'"
            [placeholder]="'Entity Type'"
            [notFoundText]="'No Matches...'"
            [items]="selectOptions"
            [appendTo]="'body'"
            [formControl]="formSelectFormControl"
             >
            </ng-select>
        </div>
        <!-- <div *ngIf="enable" class="search-title-header non-border" >
          <div style="padding: 10px 8px;">{{'Entity Type : '}}</div>
          <mat-form-field floatLabel="never">
            <mat-select class="sg-header-mat-select" [ngClass]="{'disable-field':!isAddNewSecurityGroup}"
             [formControl]="formSelectFormControl"
             [placeholder]="'Entity Type'">
              <mat-option *ngFor="let option of selectOptions" [value]="option" >{{option}}</mat-option>
              <mat-option>None</mat-option>

            </mat-select>
          </mat-form-field>
        </div> -->
        <div class="head-route right" (click)="clickEvent('close')" [matTooltip]="'CLOSE'">
          <mat-icon class="icon icon21-21" matSuffix svgIcon='V3 CloseCancel'></mat-icon>
        </div>
        <div class="head-route right SaveIcon" (click)="createOrUpdateSecurityGroup()" [matTooltip]="'SAVE'">
          <mat-icon class="icon icon21-21" matSuffix svgIcon='FDC_Checkmark_Icon_Idle'></mat-icon>
        </div>
      </div>

      <div *ngIf="sgForm?.body" class="Security-groups-main-form display-inline-flex">
        <div  *ngFor="let formitem of sgForm?.body" [style.width.%] = "formitem.width" class="secutity-div">
          <app-security-group-tree *ngIf="formitem.type == 'tree'; else formcontainer" [events]="emitEventsToChild.asObservable()" [schemaPage]="formitem.schemaPage" 
          [type]= "formitem.type" [title]= "formitem.title" [treeName]="formitem.treeName" (treeDrop)="onDrop($event)"
          [showFilter]= "formitem.showFilter" [showSearch]= "formitem.showSearch" [showExpandAll]="formitem.showExpandAll"></app-security-group-tree>
          <ng-template #formcontainer>
            <app-security-group-tree [events]="emitEventsToChild.asObservable()" [schemaPage]="formitem.schemaPage" 
            [type]= "formitem.type" [title]= "formitem.title" [treeName]="formitem.treeName"
            [showFilter]= "formitem.showFilter" [showSearch]= "formitem.showSearch" [showExpandAll]="formitem.showExpandAll" (commonOutputEmitter)="OutputEmitter($event)"></app-security-group-tree>
          </ng-template>
        </div>
      </div>
</div>
</div>

