<div class="construction-json-schema-form sg-form">
    <json-schema-form *ngIf='layout && options' [framework]="options.framework" [schema]="schema" [layout]="layout"
      [roles]="roles" [images]="images" [userRoles]="userRoles" [data]="data" [droppedRowsMapping]="droppedRowsMapping" [(updateData)]="updateData"
      [options]="options" (routeEvent)="click($event)" (onChanges)="onChange($event)" (onSubmit)="onSubmitFn($event)"
      (isValid)="isValidFn($event)" (validationErrors)="validationErrors($event)" (lookUpQuery)="lookUpQuery($event)"
      (enumValueChangeEvent)="enumValueUpdate($event)" [formulas]="formulas" (toggleChangeEvent)="onToggleChange($event)"
      (treeAction)="treeAction($event)" (filterSave)="onFilterFn($event)">
    </json-schema-form>
  </div>
  