<div class='scroll-form-template scrollbar'>
  <div id='form-template' [ngClass]="{'form-template-min-width': !commonService.isMultiView }"> 
      <div id='fdc-form-header' >
  <form-header [locationName]="myForm&&myForm.getRawValue().listOfChildren&&myForm.getRawValue().listOfChildren[0]?myForm.getRawValue().listOfChildren[0].EntityName:''"
               [headerConfig]="headerConfig"
               (ChangeLocation)="ChangeLocation($event)"
               (Click)="ClickEvent($event)">
  </form-header>
</div>
<div id='EM-Form-Gen' (treeDrop)="onDrop($event)">
  <!-- <div id='form-generation' class="form-scroll-area scrollbar" (scroll)="onScroll($event)" *ngIf="isForm"> -->

  <div id='form-generation' class="form-scroll-area scrollbar" *ngIf="isForm">
    <div class='bg-color' *ngFor="let item of myForm.get('listOfChildren').controls;" >
      <div *ngIf="item?.value?.Enable" [ngSwitch]="item?.getRawValue()?.TypeOfAccordian">
      <ng-container *ngSwitchCase="'Group'">
        <!-- <em-group-type
          [myForm]="item"
          [entityMgmtCommonInputVariable]="entityMgmtCommonInputVariable"
          (entityMagntCommonOutputEmitter)="entityMagntCommonOutputEmitter($event)">
        </em-group-type> -->
      </ng-container>
      <ng-container *ngSwitchDefault>
        <entitymanagement-Formgenerator (Click)="ClickEvent($event)"
          [myForm]="item"
          [tab]='item.getRawValue().tab'
          [jsonAdminData]='getData(item.getRawValue().EntityId)'
          [Schema]='Schema'
          [entityMgmtCommonInputVariable]="entityMgmtCommonInputVariable"
          [IsEntityMgmtDrag]='item.getRawValue().IsEntityMgmtDrag'
          [userId]="userId"
          (entityMagntCommonOutputEmitter)="entityMagntCommonOutputEmitter($event)"
          [listOfChildren]="listOfChildren"
          [EntityType]="item.getRawValue().EntityType">
        </entitymanagement-Formgenerator>
      </ng-container>
    </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
</div>
</div>
