@import "../../../../globals/base-properties.styles.css";
@import "../../../../globals/theme.scss";

#form-generation {
  width: 100%;
  height: 100%;
  position: absolute;
}
.form-scroll-area {
  height: calc(100% - #{$dataEntry-Middle-header});
  width: 99.7%;
  overflow: auto;
  scroll-behavior:smooth;
}
.expandIcon {
  display: inline-block;
  width: $toggle-Width;
  height: $toggle-Width;
  font-size: 15px;
  cursor: pointer;
  z-index: 5;
  margin-left: 1px;
}
.sub-toggle-expand-collapse{
  width: 27px;
  height: 28px;
  padding: 10px 0px 0px 11px;
  margin-left: -7px;
  margin-top: -4px;
  //border: 1px solid gray;
  cursor: pointer;
}
.toggle-expand-collapse {
  width: 30px;
 // height: 18px;
 // padding: 12px 0px 12px 12px;
  padding: 10px 1px 5px 11px;
  box-sizing: content-box;
  cursor: pointer !important;
}

// .scrollbar:hover::-webkit-scrollbar{
//   height: 7px;
//   width: 7px;
// }

div:hover::-webkit-scrollbar-corner {
  width: 7px;
  /*background-color: red !important;*/
}

#header {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden-scroll {
  width: calc(100% + 17px);
  height: 100%;
  overflow-y: auto;
}

.headerIcon {
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  cursor: pointer;
}

.border {
  box-sizing: border-box;
  border: $border;
}

.border-right {
  box-sizing: border-box;
  border-right: $border;
}

.left {
  float: left;
}

.right {
  float: right;
}


.active {
  background-color: var(--sideContainer-BackGroundColor);
  border: none !important;
  box-shadow: none !important;
}

.setFav {
  width: 6px;
  height: 6px;
  background-image: url('https://althingenergy.althing.io/wwwroot/images/Favorite Pins/FavoritePin ActiveState icon.svg');
  position: absolute;
  display: none;
  margin-left: 33px;
  margin-top: 2px;
}

.headerIcon:hover {
  background-color: var(--mouseHover-BackGroundColor);
}

.nav-bar {
  height: 100%;
  position: absolute;
  overflow-y: auto;
}


.cont-list {
  color: var(--form-value-Color);
  font-size: 12px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.cont-list:hover {
  background-color: var(--mouseHover-BackGroundColor);
}

.list-item-highlight{
  background-color: var(--mouseHover-BackGroundColor);
}

// #isEmailExist{
//   float: right;
//   color: green;
//   display: inline-flex;
//   position: absolute;
//   width: 250px;
//   height: 32px;
//   padding: 10px;
//   right: 0;
// }
