<div class='scroll-form-template scrollbar'>

  <div id='form-template' [ngClass]="{'form-template-min-width': !commonService.isMultiView }">
    <div id="adminform">
      <form-header [locationName]="locationName" [headerConfig]="headerConfig" (ChangeLocation)="ChangeLocation($event)"
        (Click)="ClickEvent($event)">
      </form-header>
    </div>
    <div id='construction-form-body'>
      <div class="totaltemplate">
        <div class='formgen-div'>
          <app-construction-form-generator [tableNameOrType]="formHeaderNgSelectFormControl.value"
            (commonOutputEmitter)="commonOutputEmitter($event)">
          </app-construction-form-generator>
        </div>

      </div>

    </div>

    <router-outlet></router-outlet>
  </div>
</div>