@import '../../../../globals/theme.scss';
#form-template {
    width: 100%;
    height: 100%;
    background-color: var(--sideContainer-BackGroundColor);
    position: absolute;
    z-index: 5;
  }
  .scroll-form-template {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    z-index: 8;
    background-color: var(--sideContainer-BackGroundColor);
  }
  #adminform {
    width: 100%;
    height: $mainHeader-Height;
    background-color: var(--formHeader-BackGroundColor);
    border-bottom: $border;
    box-sizing: border-box;
  }
  .totaltemplate {
    width: 100%;
    height: 100%;
    // overflow-x: auto;
    // overflow-y: hidden;
    position: absolute;
  }
//   .formgen-div{
//     float: right;
//     //width: calc();
//     width: 30%;
//   }