<ng-container *ngIf="display && !clearFilter" >
  <div class="filter-form-header">
     <label class="toolbar-label" >FILTER OPTION</label>
     <div class='head-route float-r'>
        <mat-icon  class="icon" matSuffix svgIcon="{{'V3 CloseCancel'}}" [ngClass]="'icon21-21'" (click)="closeModal()"></mat-icon>
     </div>
  </div>
  <div class="filter-form-body">
     <div class="select-div margin-10-0">
        <label class="label-color  label-font-size" [for]="selectOptions">Available Filters</label>
        <ng-select
        #selectOptions
        [items]="show"
        [addTag]="addCustomTag"
        bindValue="entityid"
        bindLabel="entityname"
        (change)="onChange($event)"
        [(ngModel)]="setText"
        placeholder="Select existing filter"
        (clear)="clear()"
        >  
        </ng-select>
     </div>
     <button mat-button class="filter-button" [disabled]="isDisable" (click)="onSubmit()">APPLY FILTER</button>
     <button mat-button class="filter-button" (click)="goToNewFilter()">NEW FILTER</button>
  </div>
</ng-container>
<ng-container *ngIf="displayNewFilter">
  <div class="filter-form-header">
     <label class="toolbar-label" >NEW FILTER</label>
     <div class='head-route float-r'>
       <mat-icon  class="icon" matSuffix svgIcon="{{'V3 CloseCancel'}}" [ngClass]="'icon21-21'" (click)="closeModal()"></mat-icon>
     </div>
  </div>
  <div class="filter-form-body">
        <div class="new-filter-buttons">
           <button mat-button class="filter-add-field-button" (click)="addNewItem()" >Add FIELD</button>
           <button mat-button class="filter-save-button" (click)="addnewiteminngselect()">SAVE</button>
        </div>
     <div class="new-filter-form-subbody">
     <div class="select-div">
        <label class="label-color  label-font-size" position="stacked">Filter Name</label>
        <input matInput [(ngModel)]="filterName" class="full-width" placeholder="Filter Name">
     </div>
     <div class="select-div">
        <mat-label class="label-color  label-font-size">Filter Type</mat-label>
        <mat-select [(ngModel)]="filterType" placeholder="Select Type">
        <mat-option *ngFor="let type of filterTypes" [value]="type">
        {{type}}
        </mat-option>
        </mat-select>
     </div>

      <div  *ngFor="let item of itemsList;let i=index;"  >
           <div class="">
              <table class="field-container">
                 <tr>
                    <td class="field-block">
                       <div>
                          <mat-select placeholder="Select" [(ngModel)]="item.key" (ngModelChange)="modelChangeFn($event)"  panelClass="select-panel">
                          <mat-option *ngFor="let opt of fieldList" [value]="opt">
                          {{opt}}
                          </mat-option>
                          </mat-select>
                       </div>
                    </td>
                    <td class="field-block">
                       <ng-container *ngIf="schema[item.key]?.format==dateType">
                          <mat-select placeholder="Select" [value]="dateOptions.defaultValueOperator" 
                          [(ngModel)]="item.operator" (ngModelChange)="modelChangeFn($event)"  panelClass="select-panel" >
                          <mat-option *ngFor="let opt of dateOptions.operator" [value]="opt">
                          {{opt}}
                          </mat-option>
                          </mat-select>
                       </ng-container>
                       <ng-container *ngIf="schema[item.key]?.type==stringType && schema[item.key]?.format!=dateType">
                          <mat-select placeholder="Select" [value]="stringOptions.defaultValueOperator" [(ngModel)]="item.operator" (ngModelChange)="modelChangeFn($event)"  panelClass="select-panel">
                          <mat-option *ngFor="let opt of stringOptions.operator" [value]="opt">
                          {{opt}}
                          </mat-option>
                          </mat-select>
                       </ng-container>
                       <ng-container *ngIf="schema[item.key]?.type==numberType">
                          <mat-select placeholder="Select" [value]="numberOptions.defaultValueOperator" [(ngModel)]="item.operator" (ngModelChange)="modelChangeFn($event)"  panelClass="select-panel">
                          <mat-option *ngFor="let opt of numberOptions.operator" [value]="opt">
                          {{opt}}
                          </mat-option>
                          </mat-select>
                       </ng-container>
                       <ng-container *ngIf="schema[item.key]?.type==booleanType">
                          <mat-select placeholder="Select" [value]="booleanOption.defaultValueOperator" [(ngModel)]="item.operator" (ngModelChange)="modelChangeFn($event)"  panelClass="select-panel">
                          <mat-option *ngFor="let opt of booleanOption.operator" [value]="opt">
                          {{opt}}
                          </mat-option>
                          </mat-select>
                       </ng-container>
                       <ng-container *ngIf="schema[item.key]?.format==timeType">
                          <mat-select placeholder="Select" [value]="dateOptions.defaultValueOperator" 
                          [(ngModel)]="item.operator" (ngModelChange)="modelChangeFn($event)"  panelClass="select-panel" >
                          <mat-option *ngFor="let opt of dateOptions.operator" [value]="opt">
                          {{opt}}
                          </mat-option>
                          </mat-select>
                       </ng-container>
                    </td>
                 </tr>
                 <tr *ngIf="item.key">
                    <ng-container *ngIf="schema[item.key]?.format==dateType">
                       <td class="field-block column-bottom-border">
                          <mat-form-field class="full-width">
                             <mat-label>Choose a date</mat-label>
                             <input matInput [matDatepicker]="picker" placeholder="Date"
                             [(ngModel)]="item.value" (ngModelChange)="modelChangeFn($event)" readonly=true>
                             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                             <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                       </td>
                       <ng-container
                          *ngIf="(schema[item.key]?.format==dateType && (item.operator==between || item.operator==notbetween)) || (item.valuetwo !='' && (item.operator==between || item.operator==notbetween))">
                          <td class="field-block column-bottom-border">
                             <mat-form-field class="full-width">
                                <mat-label>Choose a end date</mat-label>
                                <input matInput  [matDatepicker]="picketwo" placeholder="Date"
                                [(ngModel)]="item.valuetwo" (ngModelChange)="modelChangeFn($event)"  readonly=true>
                                <mat-datepicker-toggle matSuffix [for]="picketwo"></mat-datepicker-toggle>
                                <mat-datepicker #picketwo></mat-datepicker>
                             </mat-form-field>
                          </td>
                       </ng-container>
                    </ng-container>
                    <ng-container *ngIf="schema[item.key]?.format==timeType">
                       <td class="field-block column-bottom-border">
                          <mat-form-field class="full-width">
                             <input [ngxTimepicker]="toggleTimepicker" placeholder="Time" [disableClick]="true" readonly [(ngModel)]="item.value"
                             (ngModelChange)="modelChangeFn($event)">
                             <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                             <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                          </mat-form-field>
                       </td>
                       <ng-container
                          *ngIf="(schema[item.key]?.format==timeType && (item.operator==between || item.operator==notbetween)) || (item.valuetwo !='' && (item.operator==between || item.operator==notbetween))">
                          <td class="field-block column-bottom-border">
                             <mat-form-field class="full-width">
                                <input [ngxTimepicker]="toggleTimepicker" placeholder="Time" [disableClick]="true" readonly [(ngModel)]="item.valuetwo"
                                (ngModelChange)="modelChangeFn($event)">
                                <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                                <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                             </mat-form-field>
                          </td>
                       </ng-container>
                    </ng-container>
                    <ng-container
                       *ngIf="schema[item.key]?.type==stringType && schema[item.key]?.format!=dateType && schema[item.key]?.format!=timeType">
                       <td class="field-block column-bottom-border">
                          <input type="text" [(ngModel)]="item.value" placeholder="Enter Value" (ngModelChange)="modelChangeFn($event)" class="full-width" />
                       </td>
                    </ng-container>
                    <ng-container *ngIf="schema[item.key]?.type==numberType">
                       <td class="field-block column-bottom-border">
                          <input type="number" [(ngModel)]="item.value" placeholder="Enter Value"  (ngModelChange)="modelChangeFn($event)" class="full-width" />
                       </td>
                    </ng-container>
                    <ng-container
                       *ngIf="(schema[item.key]?.type==numberType && (item.operator==between || item.operator==notbetween)) || (item.valuetwo !='' && (item.operator==between || item.operator==notbetween))">
                       <td class="field-block column-bottom-border">
                          <input type="number" [(ngModel)]="item.valuetwo" placeholder="Enter Value" (ngModelChange)="modelChangeFn($event)" class="full-width" />
                       </td>
                    </ng-container>
                    <ng-container *ngIf="schema[item.key]?.type==booleanType">
                       <td class="field-block column-bottom-border">
                          <mat-select 
                          [(ngModel)]="item.value" (ngModelChange)="modelChangeFn($event)"  placeholder="Select" >
                          <mat-option *ngFor="let opt of booleanValue" [value]="opt">
                          {{opt}}
                          </mat-option>
                          </mat-select>
                       </td>
                    </ng-container>
                 </tr>
                 <tr>
                    <td class="field-block"></td>
                    <td class="float-r">
                       <mat-icon  class="icon position-r" matSuffix svgIcon="{{'deleteIcon'}}" [ngClass]="'icon21-21'" (click)="deleteItem($event,i)"></mat-icon>
                    </td>
                 </tr>
              </table>
           </div>
           <ng-container *ngIf="i+1 != itemsList.length">
              <table class="filed-operation-block">
                 <tr>
                    <td class="field-block">
                       <mat-select [value]="logicalOptions.defaultValueOperator" 
                       [(ngModel)]="item.logicalOperator" (ngModelChange)="modelChangeFn($event)"  panelClass="select-panel" >
                       <mat-option *ngFor="let opt of logicalOptions.operator" [value]="opt">
                       {{opt}}
                       </mat-option>
                       </mat-select>
                    </td>
                 </tr>
              </table>
           </ng-container>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="clearFilter" >
   <div class="filter-form-header">
      <label class="toolbar-label" >FILTER OPTION</label>
      <div class='head-route float-r'>
         <mat-icon  class="icon" matSuffix svgIcon="{{'V3 CloseCancel'}}" [ngClass]="'icon21-21'" (click)="closeModal()"></mat-icon>
      </div>
   </div>
   <div class="filter-form-body">
      <div class="select-div margin-10-0">
         <label class="label-color  label-font-size" [for]="selectOptions">Applied Filter</label>
         <input matInput [(ngModel)]="activeFilterName" readonly class="full-width" placeholder="Filter Name">
      </div>
      <button mat-button class="filter-button" (click)="onClear()">CLEAR FILTER</button>
   </div>
 </ng-container>
