@import "../../globals/theme.scss";

.filter-form-header {
  width: calc(100% - 2px);
  height: 42px;
  border: $border;
  background-color: var(--popUpHeader-BackGroundColor);
}

.filter-form-body {
  width: 100%;
  height: calc(100% - 42px)
}

.new-filter-form-subbody{
  width: 100%;
  height: calc(100% - 84px); 
  overflow: auto;
}

.toolbar-label{
  font-weight: 400;
  font-size: 24px;
  margin: 0 auto;
  float: left;
  padding: 8px 0;
  width: calc(100% - 44px);
  text-align: center;
  height: 26px;
  border-right: $border;
}

.label-color{
  color: var(--form-Title-Color);
}

.label-font-size{
  font-size: 12px;
}

.filter-button
{
  width: calc(100% - 200px);
  height: 42px;
  font-size: 12px;
  border: $border;
  margin: 10px 100px;
  border-radius: 0;
}
.new-filter-buttons
{
  text-align: center;
  width: 100%;
  height: 42px;
  margin: 10px 0 20px 0;
}

.filter-add-field-button {
    width: 30%;
    border: $border;
    border-radius: 0;
    margin: 0 4px;
}

.filter-save-button {
    width: 20%;
    border: $border;
    border-radius: 0;
    margin: 0 4px;
}


.mat-select-panel , .mat-option {
  background-color: var(--mainHeader-BackGroundColor) !important;
  color: var(--form-value-Color) !important; 
}

.head-route{
  width: $formHeaderIcon-Width;
  height: $formHeaderIcon-Height;
}

.select-div{
  width: calc(100% - 20px);
  height: 42px;
  padding: 0 10px;
  display: inline-block;
}

.margin-10-0 {
  margin: 10px 0;
}

.mat-select{
  font-size: 12px !important;
}

.field-container{
  border: $border;
  margin: 10px;
  width: calc(100% - 20px);
}

.field-block{
  padding: 4px;
  width: 50%;
}

.field-container tr , .filed-operation-block tr {
  height: 32px;
}

.column-bottom-border{
  border-bottom: $border;
}

.position-r{
  position: relative;
}

.filed-operation-block{
  width: 100px; 
  margin-left: 4px;
}