@import "../../../globals/theme";
#BIFabricDrawingArea {
  position: $commonPosition;
  width: 100%;
  height: 100%;
  background: var(--sideContainer-BackGroundColor);
}

#dashboard-frame {
  position: $commonPosition;
  overflow-y: auto;
  border: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

// #p2 {
//   margin-top: 0;
//   font-family: Roboto Regular;
//   color: #fff;
//   font-size: 13px;
//   text-align: center;
//   margin-left: 1vw;
// }

// .addOnBtn2L {
//   width: 2vw;
//   height: -5vw;
//   margin-left: -6.5vw;
//   margin-top: 3.6vw;
// }

// .addOnBtnL {
//   width: 2vw;
//   height: 2vw;
//   margin-left: 1.5vw;
//   margin-top: 3.5vw;
// }

// #RenameDiv {
//   margin-top: 25px;
//   margin-bottom: 25px;
// }
// @media only screen and (max-width: 500px) {
//   #RenameDiv {
//     margin-top: -1vw !important;
//   }
// }
// #keyImageInBI {
//   height: 1.2vw;
//   position: $commonPosition;
//   margin-left: 0.4vw;
//   margin-top: 0.25vw;
//   z-index: 100;
// }

// #p19 {
//    margin-top:2vw;
//   /* font-family: Lato; */
//   margin-bottom: 0vw;
//   color: #222;
//   font-size: 1.6vw;
//   text-align: center;
//   font-family: roboto regular;
// }

// #p1 {
//   margin-top: 1.2vw;
//   margin-bottom: 0;
//   color: #fbb03b;
//   font-size: 1.5vw;
//   text-align: center;
//   font-family: roboto regular;
// }

// #icons {
//   margin-left: 1px;
//   width: 24%;
//   height: 50px;
//   /* margin-top: 10px; */
//   margin-bottom: 0px;
// }
// .DeleteOption {
//   font-family: roboto regular;
//   /* height: 100%; */
//   width: 70%;
//   font-size: 25px;
//   margin-left: 25px !important;
//   margin-top: 10px;
//   margin-bottom: 10px;
// }
// .biDeleteCategory {
//   z-index: 100;
//   position: absolute;
//   background-color: #282828;
//   font-size: 2px !important;
//   text-align: left;
//   display: inline-flex;
//   width: 33.8% !important;
//   height: 50px;
//   color: #fff;
//   margin-left: 29%;
//   font-family: Roboto Regular;
//   margin-top: 11%;
// }

// #AlertDiv{
//         margin-left: 31vw;
//     margin-top: 12vw;
//     color: white;
//     width: 25vw;
//     /* text-align: center; */
//     height: 9vw;
//     background-color: #282828
// }
// #AlertHeader{
//         text-align: center;
// }
// #tagList1{
//     margin-left: 3vw;
// }

// #Icons{
//         float: right;
//     margin-top: -3vw;
// }
// #Heading{
//        font-size: 2vw;
//     background-color: #10100f;
//     margin-top: 0vw;
//     text-align: -webkit-left;
//     margin-left: 0vw;
//     /* float: left; */
//     height: 2.5vw;
// }

// #dbAddNewFormContent {
//   position: absolute;
//   overflow: auto;
//   overflow-x: hidden;
//   overflow-y: hidden;
//   margin-top: 50px;
//   width: 100% !important;
//   height: 154px;
//   font-family: roboto regular;
//   color: #fff;
//   font-size: 24px;
//   background-color: #3a3a3a;
// }
// .listDiv{
//         margin-top: 0vw;
//     float: right;
//     /* margin-right: 1.3vw; */
//     margin-left: 1vw;
// }
// .addOnBtn1 {
//   width: 35px;
//   margin-left: 8px;
//   margin-top: 7px;
// }
// #btn1Div {
//   margin-top: -49px;
//   margin-left: 3.6vw;
//   height: 50px;
//   width: 50px;
// }
// #btnCancel {
//   margin-top: -3vw;
//   margin-left: 3.6vw;
//   height: 3vw;
//   width: 3vw;
// }
// #btnCancel:hover{
//     background-color:#AB353D;
// }
// #btn1Div:hover{
//     background-color:#AB353D;
// }
// #btn2Div:hover{
//     background-color: #01683A;
// }
// #btn2Div {
//   margin-right: 18px;
//   height: 50px;
//   width: 50px;
// }
// .addOnBtn2 {
//   width: 35px;
//   margin-left: 8px;
//   margin-top: 7px;
// }
// .addOnBtns {
//   width: 32px;
//   height: 57px;
//   margin-left: 7.5px;
//   margin-top: -4.6px;
// }

// .addOnBtn3{
//           width: 144px;
//     height: 7.6vw;
//     margin-top: 0.5vw;
//     margin-left: 8vw;
//     cursor: pointer;
//     /* float: right; */
// }
// #a{
//     float: left;
// }
// #b{
//       margin-left: 1vw;
//     margin-top: 0.5vw;  
// }
// #Delete {
//         margin-top: 0.5vw;
//     font-size: 2vw;
// }
// #Cancel {
//        font-size: 2vw;
// }



#ifid {
  /*max-width: 100%;
  height: 86%;
  overflow-y: auto;*/
  max-width: 100%;
  height: 91%;
  overflow-y: auto;
}
#ifid .dashboard-title{
  margin-left:6vw;
}


#ifid > button {
  opacity: 0.3;
  position: relative;
  float: right;
  right: 10px;
  bottom: 35px;
  transition: 0.5s;
}

#ifid > button2 {
  opacity: 0.3;
  position: relative;
  float: right;
  right: 10px;
  bottom: 35px;
  transition: 0.5s;
}

#ifid > controlAddVis {
  display: none;
  
}



::ng-deep .zd-main-section.dashboard-widgets .dashboard .dashboard-header-label {
  margin-left: 6vw;
}

#ifid > button {
  opacity: 1;
  margin-top: 2.5vw;
  margin-right: 51vw;
  background-color: #328FD5;
  color: white;
}
#BIFabricDrawingArea > button {
  /*opacity: 0.3;
    position: relative;
   float: right;
    right: 10px;
    bottom: 35px;
    transition: 0.5s;*/
  opacity: 0.3;
  position: relative;
  /* float: right; */
  /* right: 10px; */
  bottom: 3px;
  
  margin-left: 37vw;
  transition: 0.5s;
}



#BIFabricDrawingArea > button {
  opacity: 1;
  margin-top: 2.5vw;
  margin-right: 51vw;
  background-color: #328FD5;
  color: white;
}


// #dashboardcontent {
//         /* margin-left: 25px; */
//     margin-top: 25px;
//     text-align: center;
//     font-size: 1.2vw;
//     color: #FBB03B;
// }
// #leftslidearrow{
//     position: absolute;
//     z-index: 1000;
//     top: 19vw;
//     cursor: pointer;
//     font-size: 5vw;
//     color: #789;
// }
// #rightslidearrow{
//   position: absolute;
//   z-index: 1000;
//   top: 19vw;
//   cursor: pointer;
//   font-size: 5vw;
//   color: #789;
//   margin-left: 79vw;
// }
/** No CSS for this List BI */
.btn {
  position: absolute;
  cursor: pointer;
  background: #69b4d8;
  top: 22vw;
  z-index: 1000;
}

.btnr {
  right: 0
}

.btnl {
  left: 0
}

.pageNat {
  display: none;
}
// .override_addbutton {
//   position: relative;
//   width: 97px;
//   float: right;
//   z-index: 99;
//   margin: 38px 0px 0px 0px;
//   height: 35px;
//   background-color: #3b3c3a;
// }
