  <mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <div id="menu-list" [ngClass]="'common-menu-list'">
      <span id="Port" *ngFor="let child of items" [ngClass]="'contextmenu'" >
        <!-- Handle branch node menu items -->
        <span *ngIf="child.children && child.children.length > 0" [ngClass]="getClass(child)">
          <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu" class="context-menu-click" [ngStyle]="{'background-color':activeStatus ? 'var(--mouseHover-BackGroundColor)': ''}">
            <span>{{child.displayName}}</span>
          </button>
          <app-map-context-menu #menu (ClickEvent)="contextClick($event)" [items]="child.children" ></app-map-context-menu>
        </span>

        <span *ngIf="(!child.children || child.children.length === 0)" [ngClass]="getClass(child)">
          <button mat-menu-item (click)="contextClick(child)" [ngStyle]="{'background-color':activeStatus ? 'var(--mouseHover-BackGroundColor)': ''}">
            <span>{{child.displayName}}</span>
          </button>
        </span>
      </span>
    </div>
  </mat-menu>


<div id="tooltipdata"></div>

