#p2 {
  /* color: #ffffff; */
  font-size: 18px;
  margin-top: 0vw;
  font-family: Roboto Regular;
  color: #ffffff;
  font-size: 18px;
}
#p1{
    margin-top: 7px;
    /* font-family: Lato; */
    margin-bottom: 0vw;
    color: white;
    font-size: 21px;
    text-align: center;
    font-family: roboto regular;
}
iframe {
    width: 83vw;
    height: 44vw;
    border: 0px;
    position: fixed;
}
#icons{
      margin-left: 1vw;
    width: 24%;
    height: 50px;
}
.DeleteOption{
            font-family: roboto regular;
    margin-left: 20px;
    height: 50px;
    width: 70%;
}
.dberror {
  z-index: 100;
  position: absolute;
  background-color: #282828;
  font-size: 2vw !important;
  text-align: left;
  display: inline-flex;
  width: 30vw !important;
  height: 50px;
  color: white;
  margin-left: 19vw;
  font-family: Roboto Regular;
  margin-top: 9vw;
}
#tagList1{
    margin-left: 3vw;
}

#Icons{
        float: right;
    margin-top: -3vw;
}
#Heading{

    font-size: 2vw;
    background-color: #10100f;
    margin-top: 0vw;
    text-align: -webkit-left;
    margin-left: 0vw;
  
    height: 2.5vw;
}

#dbAddNewFormContent {
  position: absolute;
  overflow: auto;
  overflow-x: hidden;
  margin-top: 2.9vw;
  width: 30vw;
  // height: 16.5vw;
  height: 14.6vw;
  font-family: Roboto Regular;
  color: white;
  font-size: 24px;
  background-color: #3A3A3A;
}
.listDiv{
        margin-top: 0vw;
    float: right;
    margin-right: 1.3vw; 
    margin-left: 1vw;
}
.addOnBtn1{
      width: 29px;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}
.btn1Div{
     
    margin-left: 4vw;
    height: 3vw;
}
.btn1Div:hover{
    background-color:#AB353D;
}
.btn2Div:hover{
    background-color: #01683A;
}
.btn2Div{
       margin-right: 3.5vw;
           height: 3vw;
    width: 3vw;
    margin-left: 1vw;
}
.addOnBtn2{
          width: 30px;
    margin-left: 0.5vw;
    /* position: static; */
    margin-top: 0.6vw;
}
.addOnBtn3{
          width: 144px;
    height: 7.6vw;
    margin-top: 0.5vw;
    margin-left: 8vw;
    cursor: pointer;
    /* float: right; */
}
#a{
    float: left;
}
#b{
      margin-left: 1vw;
    margin-top: 0.5vw;  
}
#Delete {
        margin-top: 0.5vw;
    font-size: 2vw;
}
#Cancel {
       font-size: 2vw;
}

#BIFabricDrawingArea > button {
    opacity: 0.3;
    position: relative;
    float: right;
    right: 10px;
    bottom: 35px;
    transition: 0.5s;
}

.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #5c5454;
    opacity: 0.75;
    z-index: 48;
}
