// @import "../../../globals/theme.scss";
// @import "../../../globals/base-properties.styles.scss";


// .SecurityAdminPlayingArea {
//   position: $commonPosition;
//   background-color: var(--sideContainer-BackGroundColor);
// }

// .pageContent {
//   margin-left: 60px;
//   color: var(--form-value-Color);
// }

// .contentSpace {
//   margin-top: 40px;
//   cursor: default;
// }

// .contentStyle {
//   font-size: $formValue-FontSize;
//   font-weight: 200;
// }

// .text {
//   font-size: $prodValue-FontSize;
//   font-weight: 300;
// }

// .capability-label {
//   font-size: $form-title-fontsize;
//   font-weight: 300;
//   cursor: default;
// }

// .Security-label {
//   font-size: $prodValue-Height;
//   font-weight: 400;
// }

// .securitydwnbtn {
//   width: 160px;
//   height: 20px;
//   background-color: var(--sideNode-LightBackGround);
//   border-radius: 0px;
//   text-align: center;
//   border: 0.7px solid var(--form-value-Color) !important;
//   font-size: 12px;
//   font-style: $font-family;
// }

// .securitywatchbtn {
//   width: 100px;
//   height: 20px;
//   background-color: var(--sideNode-LightBackGround);
//   border-radius: 0px;
//   text-align: center;
//   border: 0.7px solid var(--form-value-Color) !important;
//   font-size: 12px;
//   font-style: $font-family;
//   margin-left: 10px;
// }

// .securityen-hint {
//   font-size: 12px;
//   margin: 10px 0px;
//   position: absolute;
// }
