<div class='scroll-form-template scrollbar'>
    <div id='form-template' class='form-template-min-width'> 
        <div id="adminform">
            <div id='AdminFormHeader' >
                <form-header 
                            [headerConfig]="headerConfig"
                            (Click)="ClickEvent($event)">
                </form-header>
            </div>
            <div id='AdminFormContent' class="form-scroll-area scrollbar" *ngIf="intialized">
                <div class="bg-color" *ngFor="let value of ListsofData;  let i = index">
                    <em-admin-form-generator [EntityType]="value.EntityType" [myForm]="myForm.get(value.EntityName)" [EntityName]="value.EntityName"></em-admin-form-generator>
                    </div>
            </div>
        </div>
    </div>
</div>