<div [id]="EntityType" [formGroup]="myForm" class="grid-list" *ngIf="intialized">
  <mat-expansion-panel class="non-bg mat-elevation-z" [expanded]="expandCollapse" #myPanel [disabled]="true">
    <mat-expansion-panel-header collapsedHeight="42px" expandedHeight="42px">
      <div class='toggle-expand-collapse'>
        <div *ngIf="expandShow&&!commonService.isCreateNewEntity&&!IsEntityManagementForm">
          <mat-icon class="expandIcon" matSuffix [svgIcon]='this.expandCollapse ? this.ExpandSingle_Icon_Idle : this.CollapsSingle_Icon_Idle' (click)="expandPannel(!expandCollapse)"></mat-icon>
        </div>
      </div>

      <div class="entity-icon-area" *ngIf="commonService.isCreateNewEntity">
        <div *ngIf="isVisibleEntityIcon && isIconPermitted&&!IsEntityManagementForm">
          <mat-icon class="entity-icon" svgIcon="{{entityIcon.value}}"></mat-icon>
        </div>
      </div>

      <div class="entity-icon-area" *ngIf="!commonService.isCreateNewEntity">

        <div *ngIf="!IsEntityManagementForm && isIconPermitted">
          <mat-icon class="entity-icon" svgIcon="{{entityIcon.value}}"></mat-icon>
        </div>
      </div>

      <mat-grid-list class='grid-list accodant-header' [cols]="headerGrid?.grid?.numberOfCols" rowHeight="42px">

        <ng-template ngFor let-col [ngForOf]="headerGrid.grid.cols" let-i="index">
          <mat-grid-tile [rowspan]="'1'" [colspan]="col.colspan">
            <div class='full-width' [ngSwitch]="col.type">
              <!-- <ng-container *ngSwitchCase="'grid'">
                <grid-type [isHeader]="true" [EntityType]="EntityType" [gridinputdata]='col.grid' [myForm]='myForm' [EntityName]='EntityName' [triggerCD$]="triggerCD$"
                           [EntityId]="EntityId" (eventHandler)="eventHandlerSubscribe($event)" (Click)="clickEvent($event)" [maxDate]="maxdate" [properties]="properties"></grid-type>
              </ng-container>
              <ng-container *ngSwitchCase="'flex'">
                <flex-type [isHeader]="true" [elements]='col.elements' [myForm]='myForm' [EntityName]='EntityName'
                           [EntityType]='EntityType' [dynamicClass]="FlexClassname" (Click)="clickEvent($event)" [properties]="properties"></flex-type>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <object-type [isHeader]="true" [elements]='col.elements' [myForm]='myForm' [EntityId]="EntityId" [triggerCD$]="triggerCD$"
                             [EntityName]='EntityName' [EntityType]='EntityType' (Click)="clickEvent($event)" [properties]="properties"></object-type>
              </ng-container> -->
            </div>
          </mat-grid-tile>
        </ng-template>
      </mat-grid-list>

      <div class="entity-icon-area">
        <div *ngIf="isVisibleDataInjectionIcon">
          <img class="entity-icon" [src]="DataIntegration" (click)="DataIntegrationForm('FDC_GrayStatus_Icon_Idle')" />
        </div>
      </div>

      <div [ngClass]="{'list-menu-icon': !commonService.tabletMode}">
        <div *ngIf="headerGrid && headerGrid.actionmenu && headerGrid.actionmenu.cols && !commonService.isCreateNewEntity">
          <div *ngFor="let colfields of headerGrid.actionmenu.cols;  let i = index">
            <div class='full-width' [ngSwitch]='colfields.type'>
              <div *ngSwitchCase="'actionmenu'">
                <!-- <menu-action-type [elements]='colfields.elements' [properties]="properties" [myForm]='myForm' (Click)="clickEvent($event)"></menu-action-type> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel-header>

    <div class="expansional-body">

      <div *ngIf="contentGrid?.type =='table'" [formArrayName]='groupName'>
        <div *ngIf="tabletypeData">
          <!-- <table-type [isCreateOrDelete]="isCreateOrDelete" [myForm]="myForm" [triggerCD$]="triggerCD$" [TableData]="tabletypeData" [NewtableBodyData]="NewTableBody" [globalAdminFormListData]="globalAdminFormListData" (Click)="clickEvent($event)" [newList]="newlist"
                      [EntityId]="EntityId" [EntityType]="EntityType" [EntityName]="EntityName" [GlobalParentAccordionName]="EntityName" (showMore)="ShowMoreRecalculateHistory()" (ExpandCollapseStatus)="ExpandCollapseStatus($event)" (setValueChangesPending)="getValueChangesPending($event)"></table-type> -->
        </div>
      </div>

      <div *ngIf="contentGrid?.type =='list'" [formArrayName]='groupName'>
        <div *ngIf="Table">
          <mat-grid-list [cols]="contentGrid?.data?.grid?.numberOfCols" rowHeight="45px">
            <ng-template ngFor let-col [ngForOf]="contentGrid?.data?.grid?.cols" let-i="index">
              <mat-grid-tile class="fdc-form-grid-tile" [rowspan]="'1'" [colspan]="col.colspan">
                <div [ngSwitch]="col.type" class="type-contaniner">
                  <ng-container *ngSwitchCase="'grid'">
                    <mat-grid-list [cols]="col?.grid?.numberOfCols" rowHeight="42px">
                      <ng-template ngFor let-colfields [ngForOf]="col?.grid?.cols" let-i1="index">
                        <mat-grid-tile class="fdc-form-grid-tile" rowHeight='42px' [colspan]="colfields.colspan">
                          <div [ngSwitch]='colfields.type' class='fdc-grid-column-width'>
                            <div *ngSwitchCase="'none'">
                            </div>
                            <div *ngSwitchDefault>
                              <label class="entity-label">{{colfields.tableheader}}</label>
                            </div>
                          </div>
                        </mat-grid-tile>
                      </ng-template>
                    </mat-grid-list>
                  </ng-container>
                </div>
              </mat-grid-tile>
            </ng-template>
          </mat-grid-list>
        </div>
        <div *ngFor='let content of contentGridArray ;let j = index' id="contentAccordian" [formGroupName]="j">
          <mat-grid-list [cols]="content?.data?.grid?.numberOfCols" rowHeight="42px" class="form-group">
            <ng-template ngFor let-col [ngForOf]="content?.data?.grid?.cols" let-i="index">
              <mat-grid-tile class="fdc-form-grid-tile" [rowspan]="contentGrid1.columnRowSpan" [colspan]="col.colspan">
                <div class='full-width' [ngSwitch]="col.type">
                  <ng-container *ngSwitchCase="'grid'">
                    <!-- <grid-type [EntityName]='EntityName' [gridinputdata]='col.grid' [myForm]="(myForm?.controls[groupName])?.controls[j]"
                               [TicketList]="TruckTicketList" (Click)="clickEvent($event)" [triggerCD$]="triggerCD$"
                               [EntityId]="EntityId" [EntityType]="EntityType" [properties]="properties" [orificeLibraryList]="orificeLibraryList" [tankLibraryList]="tankLibraryList"></grid-type> -->
                  </ng-container>
                  <ng-container *ngSwitchCase="'object'">
                    <!-- <object-type [elements]='col.elements' [myForm]="(myForm?.controls[groupName])?.controls[j]" [triggerCD$]="triggerCD$" [EntityName]='EntityName' [EntityType]='EntityType' (Click)="clickEvent($event)" [properties]="properties"></object-type> -->
                  </ng-container>
                  <ng-container *ngSwitchCase="'flex'">
                    <!-- <flex-type [elements]='col.elements' [myForm]='myForm' [EntityName]='EntityName'
                               [EntityType]='EntityType' (Click)="clickEvent($event)" (RemoveClick)="deleteEntityList(event,j)" [properties]="properties"></flex-type> -->
                  </ng-container>
                  <ng-container *ngSwitchCase="'table'">
                    <!-- <table-type [myForm]="(myForm?.controls[groupName])?.controls[j]" (Click)="clickEvent($event)"
                                [EntityId]="EntityId" [EntityType]="EntityType"></table-type> -->
                  </ng-container>


                  <ng-container *ngSwitchDefault>
                  </ng-container>
                </div>
              </mat-grid-tile>
            </ng-template>
            <div [ngClass]="{'list-menu-icon': !commonService.tabletMode,'align-list-menu-icon':'true'}">
              <div *ngIf="contentGrid && contentGrid.actionmenu && contentGrid.actionmenu.cols && !commonService.isCreateNewEntity">
                <div *ngFor="let col of contentGrid.actionmenu.cols;  let i = index">
                  <div class='full-width' [ngSwitch]='col.type'>
                    <div *ngSwitchCase="'actionmenu'">
                      <!-- <menu-action-type [elements]='col.elements' [properties]="properties" [myForm]='myForm' (Click)="clickEvent($event, i)"></menu-action-type> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-grid-list>
        </div>
      </div>


      <div *ngIf="contentGrid?.type =='Multigrid'">
        <mat-grid-list [cols]="contentGrid?.data?.grid?.numberOfCols" rowHeight="30px" class="form-group">
          <ng-template ngFor let-col [ngForOf]="contentGrid?.data?.grid?.cols" let-i="index">
            <mat-grid-tile class="fdc-form-grid-tile" [rowspan]="(FDCFormGeratorCommonService.MultiGridRowSpan)" [colspan]="col.colspan">
              <div class='full-width inline-flex-display' [ngSwitch]="col.type">
                <ng-container *ngSwitchCase="'grid'">
                  <ng-container *ngIf="col.type == 'grid' && col?.grid?.cols[0]?.type=='grid'">
                    <ng-template ngFor let-innergrid [ngForOf]="col?.grid?.cols" let-j="index">
                      <div [ngStyle]="{'width': (100/gridwidth) + '%' }">
                        <!-- <grid-type [gridinputdata]='innergrid.grid' [myForm]='myForm' [EntityType]="EntityType" [EntityId]="EntityId" [Multigrid]="30" [triggerCD$]="triggerCD$" (Click)="clickEvent($event)" [properties]="properties"></grid-type> -->
                      </div>
                    </ng-template>
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'object'">
                  <!-- <object-type [elements]='col.elements' [myForm]='myForm' [EntityName]='EntityName' [triggerCD$]="triggerCD$" [EntityType]='EntityType' (Click)="clickEvent($event)" [properties]="properties"></object-type> -->
                </ng-container>
                <ng-container *ngSwitchCase="'list'"> </ng-container>
                <ng-container *ngSwitchDefault>
                  <!-- <grid-type [gridinputdata]='col.grid' [myForm]='myForm' [EntityId]="EntityId" [EntityType]="EntityType" [triggerCD$]="triggerCD$"
                             (Click)="clickEvent($event)" [properties]="properties"></grid-type> -->
                </ng-container>
              </div>
            </mat-grid-tile>
          </ng-template>
        </mat-grid-list>
      </div>

      <div *ngIf="contentGrid?.type !='list' && contentGrid?.type !='section' && contentGrid?.type !='Multigrid' && contentGrid?.type !='table'">
        <mat-grid-list [cols]="contentGrid?.grid?.numberOfCols" [rowHeight]='rowHeight' class="form-group">
          <ng-template ngFor let-col [ngForOf]="contentGrid?.grid?.cols" let-i="index">
            <mat-grid-tile class="fdc-form-grid-tile" [rowspan]="contentGrid1.columnRowSpan" [colspan]="col.colspan">
              <div class='full-width' [ngSwitch]="col.type">
                <ng-container *ngSwitchCase="'grid'">
                  <!-- <grid-type [gridinputdata]='col.grid' [myForm]='myForm' [EntityId]="EntityId" [triggerCD$]="triggerCD$"
                             [EntityType]="EntityType" (eventHandler)="eventHandlerSubscribe($event)" (Click)="clickEvent($event)" [properties]="properties" [orificeLibraryList]="orificeLibraryList" [tankLibraryList]="tankLibraryList"></grid-type> -->
                </ng-container>
                <ng-container *ngSwitchCase="'object'">
                  <!-- <object-type [elements]='col.elements' [myForm]='myForm' [triggerCD$]="triggerCD$"
                               [EntityId]="EntityId" [EntityName]='EntityName' [EntityType]='EntityType' (Click)="clickEvent($event)" [properties]="properties"></object-type> -->
                </ng-container>
                <ng-container *ngSwitchCase="'flex'">
                  <!-- <flex-type [elements]='col.elements' [myForm]='myForm' [EntityName]='EntityName'
                             [EntityType]='EntityType' (Click)="clickEvent($event)" [properties]="properties"></flex-type> -->
                </ng-container>
                <ng-container *ngSwitchCase="'list'"></ng-container>
                <ng-container *ngSwitchDefault>
                  <!-- <grid-type [gridinputdata]='col.grid' [myForm]='myForm' [EntityId]="EntityId" [triggerCD$]="triggerCD$" (Click)="clickEvent($event)" [properties]="properties"></grid-type> -->
                </ng-container>
              </div>
            </mat-grid-tile>
          </ng-template>
        </mat-grid-list>

      </div>
    </div>

    <!-- <div *ngIf="contentGrid?.type =='section'" class="nested-view">
      <div *ngFor='let data of listOfChildren; let i = index'>
        <multiaccordion [isFdcAdmin]="isFdcAdmin" [nestedAccordionIdsList]="nestedAccordionIdsList" [PreviousOrCurrentLocations]="PreviousOrCurrentLocations" [METER_JSON]="data.Schema" [Licensee]="Licensee" [myForm]="myForm.get(data.EntityId)" (setValueChangesPending)="getValueChangesPending($event)"
                        [GlobalParentAccordionName]="data.GlobalParentAccordionName" [EntityName]="data.EntityName" [TicketId]="data.EntityId"
                        [EntityId]="EntityId" [EntityType]='EntityType' [valueChangesForList]='valueChangesForList' [NestedAccordionsChanges]="NestedAccordionsChanges" (AddClick)="currentImageClick($event)" (TruckTicket)="CalculateTruckTicketRecieptAndDisp($event)"
                        [jsonData]="data.Data" [IsNewTicketStatus]="data.IsNewTicketStatus != undefined ? data.IsNewTicketStatus : false"
                        (Click)="clickEvent($event, i)" [ValueChangedFields]='ValueChangedFields' [truckTicketDeletePermission]='truckTicketDeletePermission' [TicketList]="TicketList"></multiaccordion>
      </div>
    </div> -->

  </mat-expansion-panel>
</div>
