<div *ngIf="nodes && nodes.length === 0 && !treeDataLengthIsZero" class="tree-loader">
  DATA IS BEING LOADED
</div>
<div class="treeBody" id="{{HierarchyTreeName}}" (clickOutside)="clickOutSideTreeBody()">
  <tree-root #tree [nodes]="nodes" [options]="customTemplateStringOptions" [focused]="false" (event)="onEvent($event)"
    (toggleExpanded)="toggleExpandedEvent($event)" (initialized)="onInitialized(tree)"
    (focus)="curretFocusedNode($event)">
    <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
      <div [class]="node.getClass()" [class.tree-node]="true"
        [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
        [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren" [class.tree-node-leaf]="node.isLeaf"
        [class.tree-node-active]="node.isActive" [class.tree-node-focused]="node.isFocused">

        <tree-node-drop-slot *ngIf="index === 0" [dropIndex]="node.index" [node]="node.parent">
        </tree-node-drop-slot>

        <div class="e-fullrow" [ngClass]="{'turnover-left-tree':HierarchyTreeName =='turnoverApproveTree'}" id="{{node.data.EntityId}}" [class.node-content-wrapper-active]="node.isActive"
          [treeDrag]="node" [treeDragEnabled]="node.allowDrag()" (click)="node.mouseAction('click', $event,this)"
          (contextmenu)="node.mouseAction('contextMenu', $event,this)" (treeDrop)="nodeOnDrop($event,node)"
          [treeAllowDrop]="node.allowDrop" (dblclick)="node.mouseAction('dblClick', $event,this)"
          (dragstart)="node.mouseAction('dragStart', $event,this)" (dragend)="node.mouseAction('dragEnd', $event,this)"></div>


        <div class="node-wrapper" [style.padding-left]="node.getNodePadding()">
          <div *ngIf="node.hasChildren" [class.toggle-children-wrapper-expanded]="node.isExpanded"
            [class.toggle-children-wrapper-collapsed]="node.isCollapsed" class="toggle-children-wrapper"
            (click)="node.mouseAction('expanderClick', $event,this)">
            <mat-icon class="toggle-children" matSuffix svgIcon='ExpandAccordion'></mat-icon>
          </div>

          <div *ngIf="!node.hasChildren" class="toggle-children-placeholder"> </div>

          <div class="node-content-wrapper">
            <mat-icon *ngIf='node.data.EntityType' class="e-list-img mat-icon-tree" id={{node.data.EntityId}} matSuffix
              [svgIcon]="({'NodeEntityType':node.data.EntityType,'WellType':node.data.WellType,'CommonServiceUrl':commonService.blobUrl,'fullNode':node.data, 'TreeName': HierarchyTreeName} | customPipeToPassFunction : getIcon)">
            </mat-icon>

            <div class="nodeText" [class.title]="true">{{ node.data.EntityName }}</div>
            <div class="nodeCount" *ngIf="node.data.count && node.data.count>0">{{ node.data.count }}</div>
          </div>
        </div>


        <div [class.tree-children]="true" [class.tree-children-no-padding]="node.options.levelPadding" *treeAnimateOpen="
                node.isExpanded;
                speed:node.options.animateSpeed;
                acceleration:node.options.animateAcceleration;
                enabled:node.options.animateExpand">
          <tree-node-collection *ngIf="node.children" [nodes]="node.children" [templates]="templates"
            [treeModel]="node.treeModel">
          </tree-node-collection>
          <tree-loading-component [style.padding-left]="node.getNodePadding()" class="tree-node-loading"
            *ngIf="!node.children" [template]="templates.loadingTemplate" [node]="node"></tree-loading-component>
        </div>
        <div class="node-drop-slot" (treeDrop)="nodeOnDrop($event,node)" [treeAllowDrop]="node.allowDrop">
        </div>
      </div>
    </ng-template>
    <ng-template #loadingTemplate>Loading, please hold....</ng-template>
  </tree-root>
</div>



<div class="menu-list">
  <div *ngFor="let item of  contextMenuOption">
    <div *ngIf="item.children && item.children.length > 0">
      <a class='capMenu' [matMenuTriggerFor]="capmenu.childMenu" (menuClosed)="menuClose()" ></a>
      <app-map-context-menu (ClickEvent)="contextOptionClick($event)" #capmenu [items]="item.children"></app-map-context-menu>
    </div>
  </div>
</div>