<div class="fontStyle scrollbar" *ngIf="isUnauthorizedPage; else invalidPart">

  <div>
    <img src="../../../../wwwroot/images/unauthorized/padlock.svg" alt="unauthorized icon" class="unauthorized-img" /><br />
    <span class="title">UNAUTHORIZED ACCESS!</span>
  </div>

  <div class="msg">
    <div *ngIf="UserCanAccessCapabilitiesList.length < 1">YOU CAN'T ACCESS ANY CAPABILITIES.</div>
    <div *ngIf="UserCanAccessCapabilitiesList.length > 0">YOU CAN ONLY ACCESS LISTED BELOW CAPABILITIES.</div>

    <div class="headerIcon right" *ngFor="let head of appConfig.AllHeaderRoutingList" [matTooltip]='head.tooltip.toUpperCase()' matTooltipPosition='above'>
      <a (click)="onClick(head)">
        <mat-icon class="icon" matSuffix svgIcon='{{head.source}}' [id]="head.id"></mat-icon>
      </a>
    </div>
  </div>

  <div class="footer">
    <a href="https://visur.one/" target="_blank" class="support">Learn more</a> or <a href="https://visur.one/premium-support/" target="_blank" class="support">contact support.</a><br />
    <button class="rectangle" (click)="close()">CLOSE</button>
  </div>

</div>

<ng-template #invalidPart>
  <div class="fontStyle scrollbar">
    <a href="/" class="imgStyle"></a>
    404 - PAGE NOT FOUND.
  </div>
</ng-template>
