@import '../../globals/theme.scss';
@import '../../../../appResourceFiles/css/loginPage.css';
@import '../../globals/base-properties.styles.scss';

.fontStyle {
  position: absolute;
  background: var(--mainHeader-BackGroundColor);
  height: 100%;
  width: 100%;
  font-family: Roboto Regular;
  color: var(--form-value-Color);
  text-align: center;
  font-size: 15px;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.unauthorized-img {
  height: 64.48px;
  width: 47.52px;
  margin-top: 45px;
}

.title {
  font-size: 20px;
  color: #F1BB51;
  margin-top: 30px;
}

.support {
  color: #73BFF3;
}

.rectangle {
  height: 32.8px;
  width: 90px;
  font-size: 17px;
  margin-top: 33px;
}

.msg {
  margin-top: 90px;
}

.icon-capabilities {
  margin-top: 54px;
  margin-bottom: 145px;
}

.headerIcon {
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  cursor: pointer;
  margin-top: 54px;
  margin-bottom: 145px;
}

.headerIcon:hover {
  .favIcon {
    display: inline-flex;
  }

  .favIcon {
    display: inline-flex;
  }
}

.right {
  display: -webkit-inline-box;
}

.imgStyle {
  background-image: url(../../../../appResourceFiles/images/404_Orange_Cone.svg);
  margin-top: 50px;
  margin-bottom: 100px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}
