@import '../../../../globals/theme.scss';

#header{
  width:100%;
  height:100%;
  overflow: hidden;
}

.hidden-scroll{
  width: calc(100% + 17px);
  height:100%;
  overflow-y: auto;
}

.headerIcon {
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  cursor: pointer;
}

.border{
  box-sizing: border-box;
  border: $border;
}

.border-right{
  box-sizing : border-box;
  border-right : $border;
}

.left{
  float:left;
}

.right{
  float:right;
}


.active{
  background-color: var(--sideContainer-BackGroundColor);
  border: none !important;
  box-shadow:none !important;
}

.setFav{
  width:6px;
  height:6px;
  background-image: url('https://althingenergy.althing.io/wwwroot/images/Favorite Pins/FavoritePin ActiveState icon.svg');
  position: absolute;
  display: none;
  margin-left: 33px;
  margin-top: 2px;
}

.headerIcon:hover{
  background-color: var(--mouseHover-BackGroundColor);
}

.nav-bar{
  height:100%;
  position: absolute;
  overflow-y: auto;
}


.cont-list{
  color: var(--form-value-Color);
  font-size: 12px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.cont-list:hover{
  background-color: var(--mouseHover-BackGroundColor);
}
