@import '../../globals/theme.scss';

.layout-web {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.desktoplayout {
  position: absolute;
  width: 100vw;
  height: calc( 100vh - 30px );
  top: 30px;
}

#layout {
  background-color:white;
}

#main-header {
  position: $commonPosition;
  width: 100%;
  background-color: var(--defaultmainHeader-BackGroundColor);
  box-sizing: border-box;
  border-bottom: $border;
  z-index: 10;
}


#desktop-header {
  -webkit-app-region: drag;
  position: $commonPosition;
  width: 100%;
  background-color: var(--desktop-header-color);
  box-sizing: border-box;
  border-bottom: $border;
  height: 30px;
  z-index: 11;
  border-bottom-color: #000000;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
}

#sub-header {
  top: $mainHeader-Height;
  position: $commonPosition;
    height: $mainHeader-Height;
  width: 100%;
  background-color: var(--popUpHeader-BackGroundColor);
  z-index: 11;
  border-bottom: $border;
}

#main-container {
  position: absolute;
  width: 100vw;
  height: calc(100% - #{$mainHeader-Height});
  top: $mainHeader-Height;
}

#left-header {
  position: $commonPosition;
  width: $mainHeader-Height;
  background-color: var(--sideHeader-BackGroundColor);
  height: 100%;
  overflow: hidden;
}

.border-r {
  border-right: $border;
}

#tree-area {
  height: 100%;
  width: 100%;
}

#status-bar {
  position: $commonPosition;
  width: $statusHeader-Width;
  height: $mainHeader-Height;
  font-size: $statusHeader-FontSize;
  color: var(--titleColor);
  text-align: center;
  left: calc(50vw - ( #{$statusHeader-Width} / 2 ));
}

.status-text {
  opacity: var(--statusHeader-FontOpacity);
  cursor: default;
  padding: 13px 0px;
  width: 100%;
  box-sizing: border-box;
}

.show-error
{
  padding:8px;
  cursor:pointer;
}
.toggle-btn-area {
  height: 30px;
  width: 10px;
  position: $commonPosition;
  opacity: 1;
  z-index: 8;
  cursor: pointer;
  bottom: -9px;
}
.toggle-left {
  left: 30px;
}

.toggle-left-expand {
  left: 5px;
}

.toggle-right-expand{
  right: 5px;
}

.toggle-right {
  right: 30px;
}

#toggle-icon {
  width: 100%;
  cursor: pointer;
}

#toggle-icon:hover {
  opacity: 1;
}


#createlist {
  position: absolute;
  background-color: var(--sideContainer-BackGroundColor);
  z-index: 10;
  top: 40%;
  left: 35%;
  width: 400px;
  height: 150px;
  border: $border;
}

.full-fabric-view {
  width: 100vw;
}



// Flex layout container
.main-container{
  width: 100%;
  height: calc( 100% - 42px);
  position: relative;
}

.layout-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 42px;
}

.side-header{
  background-color: var(--sideHeader-BackGroundColor);
  overflow: hidden;
  z-index: 6;
}

.side-tree {
  background-color: var(--sideContainer-BackGroundColor);;
  overflow: hidden;
  resize: none;
  z-index: 7;
}

.inner-container{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.mat-raised-button{
  margin: 5px 10px;
}

.displayNone{
  display: none;
}

.overlay{
  position: absolute;
  width: 234px;
  height: 100%;
  right: 41.5px;
}

.box-shadow{
  box-shadow: -1.8px 0 2px -0.5px var(--mainHeader-BackGroundColor);
}

/**#######################Keyboard css Start**/
.keyboard-main {
  position: absolute;
  z-index: 1200;
  left:52px;
  bottom: 52px;
}
 .dragIcon {
  width:100%;
  height: 42px;
  text-align: center;
  background: var(--mainHeader-BackGroundColor);
  color:var(--filter-border-color);
}

.dragHint{
  padding: 8.25px;
  padding-left: 34px;
}

.keypad-globalform-overlay-backdrop {
 left: 0;
 bottom: 0;
 right: 0;
 top: 0;
 z-index: 1000;
 background: rgba(0,0,0,.32);
 opacity: 1;
 position: absolute;
}

#Keypaddiv {
  width: 32px;
  height: 32px;
  float: right;
  margin-right: 18.5px;
}

#Keypaddivminimizeicon {
  height: 16px;
  width: 16px;
  position: absolute;
  padding: 8px 6px;
}
/**#######################Keyboard css End**/
