<div class="drag-boundary" [ngClass]="{'layout-web': layoutClass=='layout-web'?true:false}" id='layout' *ngIf="commonService?.appcanIntialize">

  <div id='main-header' (contextmenu)="commonService.onContextMenuPrevent($event)"  (click)="headerClick($event)">
    <div class="inline-flex-display" *ngIf="commonService?.statusText != ''" id='status-bar'>
    <!-- <div class="inline-flex-display" id='status-bar'> -->
      <div class='status-text'>{{commonService?.statusText}}</div>
      <div class='show-error' (click)="openSnackBar('')" *ngIf="commonService?.statusText == 'Error' || commonService?.statusText == 'DataBaseError'" mat-button>show</div>
    </div>
    <mainheader></mainheader>
  </div>

  <div id='sub-header' *ngIf='commonService.isSubHeaderEnable' (contextmenu)="commonService.onContextMenuPrevent($event)">
    <sub-header></sub-header>
  </div>

  <div class="main-container" id='full-app-container' (click)="closesubheader()" fxLayout="row wrap" >

    <!-- Toggle button for left side header -->
    <div class='toggle-btn-area' *ngIf="commonService.leftHeaderConfig.length > 0" [ngClass]="commonService?.layoutJSON?.LeftHeader ? 'toggle-left' : 'toggle-left-expand'" (click)='leftHeaderToggle()'>
      <img id='toggle-icon' [src]=" commonService?.layoutJSON?.LeftHeader ? 'wwwroot/images/V3 Icon set part1/LeftRight_Pane_Collapse.svg' :  'wwwroot/images/V3 Icon set part1/LeftRight_Pane_Expand.svg' ">
    </div>

    <!-- Toggle button for right side header -->
    <div class='toggle-btn-area' *ngIf="commonService.rightSideCapabilityList.length > 0" [ngClass]="commonService?.layoutJSON?.RightHeader ? 'toggle-right' : 'toggle-right-expand'" (click)='rightHeaderToggle()'>
      <img id='toggle-icon' [src]=" commonService?.layoutJSON?.RightHeader ? 'wwwroot/images/V3 Icon set part1/LeftRight_Pane_Expand.svg' : 'wwwroot/images/V3 Icon set part1/LeftRight_Pane_Collapse.svg' ">
    </div>

		<div class="layout-container" fxLayout  fxLayoutAlign="center" >

			<div class="side-header"  [fxHide]="!commonService?.layoutJSON?.LeftHeader " [fxFlex]="'42px'" fxFlexOrder="1">
				<div class="inner-container">
            <side-header></side-header>
        </div>
      </div>
      
			<div class="side-tree  border-r" mwlResizable [enableGhostResize]="false" [resizeEdges]="{bottom: false, right: true, top: false, left: false}"
        (resizing)="onResizeEnd($event)" [fxHide]="!commonService?.layoutJSON?.LeftTree || !commonService?.layoutJSON?.LeftHeader" [resizeCursorPrecision]='5'
        [fxFlex]=" leftTreeWidth + 'px'" fxFlexOrder="2" #sideHeaderElement>
				<div class="inner-container">
          <div id='tree-area' (contextmenu)="commonService.onContextMenuPrevent($event)">
            <left-tree></left-tree>
          </div>
        </div>
      </div>
      
			<div class="fabric-area " fxFlex fxFlexOrder="3">
				<div class="inner-container">
            <router-outlet></router-outlet>
        </div>
      </div>

      <div class="side-tree box-shadow" [ngClass]="{'overlay': !commonService?.layoutJSON?.OverLayRightTree }" 
      [fxHide]="!commonService?.layoutJSON?.RightTree || !commonService?.layoutJSON?.RightHeader"  [fxFlex]="'234px'" fxFlexOrder="4">
        <div class="inner-container">
            <right-tree></right-tree>
        </div>
      </div>

      <div class="side-header" [fxHide]="!commonService?.layoutJSON?.RightHeader"  [fxFlex]="'42px'" fxFlexOrder="5">
        <div class="inner-container">
          <right-side-header></right-side-header>
        </div>
      </div>
    </div>
  </div>
</div>








