@import '../../../../globals/base-properties.styles.scss';
@import '../../../../globals/theme.scss';

.scroll-form-template {
  width: 100%;
  height: 100%;
  //overflow-x: auto;
  //overflow-y: hidden;
  overflow:none;
  position: absolute;
}

#form-template {
  width:100% ;
  height: 100%;
  background-color: var(--sideContainer-BackGroundColor);
  position: absolute;
  z-index: 5;
}

.form-scroll-area {
  height: calc(100% - #{$dataEntry-Middle-header});
  width: 99.7%;
  overflow: auto;
  scroll-behavior:smooth;
}

// .scrollbar:hover::-webkit-scrollbar{
//   height: 7px;
//   width: 7px;
// }

.form-template-min-width {
  min-width: calc(1024px - 2 * #{$mainHeader-Height});
}

#construction-form-header {
  width: 100%;
  height: $mainHeader-Height;
  background-color: var(--formHeader-BackGroundColor);
  border-bottom: $border;
  box-sizing: border-box;
}
#turnover-right-form-header {
  width: 100%;
  height: $mainHeader-Height;
  background-color: var(--formHeader-BackGroundColor);
  border-bottom: $border;
  box-sizing: border-box;
}
#construction-form-sub-header{
  width: 100%;
  height: $mainHeader-Height;
  border-bottom: $border;
  box-sizing: border-box;
}

#construction-form-body{
  height:calc(100% - #{$mainHeader-Height});
  overflow:auto;
}


// #EM-Form-Gen {
//   height: calc(100% - 44px);
//   width: 100%;
//   position: absolute;
//   background-color: var(--sideContainer-BackGroundColor) !important;
// }

.active {
  box-sizing: border-box;
  border-bottom: 2px solid var(--active-BackGroundColor);
}

#form-generation {
  width: 100%;
  height: 100%;
  position: absolute;
}


.SSRSDocCss{
  width: 70%; 
  float:left;
  height: 100%;
}
.totaltemplate {
  width: 100%;
  height: 100%;
  // overflow-x: auto;
  // overflow-y: hidden;
  position: absolute;
}
#Review-form-header {
  height: $mainHeader-Height;
  background-color: var(--formHeader-BackGroundColor);
  border-bottom: $border;
  box-sizing: border-box;
}
.formgen-div{
  float: right;
  //width: calc();
  width: 30%;
}

#PDFNotFound{
  margin-left: auto;
  margin-right: auto;
  color: var(--error-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#spinnerloading{
  margin-top: 19%;
  margin-left: 27%;
  margin-bottom: 25%;
  color: var(--error-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: fixed;
}

.TURNOVER-left {
  float: left !important;
  width: 19.9% !important;
  height: 120% !important;
  border-right: 1px solid black !important;
}
.TURNOVER-right {
  width: 80% !important;
  float: right !important;
  height: 100% !important;
}
.turnover-name{
  color: var(--form-value-Color);
  margin-left: 45px;
  margin-top: 8px;
}

.turnover-margin{
  height: 100%;
  width: 100%;
  position: relative;
}
.turnover-approve-tree{
  width: calc(100% - 10px);
  padding-left: 5px;
  top:  #{$mainHeader-Height};
  height: calc( 100% - #{$mainHeader-Height});
  position: $commonPosition;
  box-sizing: border-box;
}
