<div class='scroll-form-template scrollbar'>
  <div id='form-template' [ngClass]="{'form-template-min-width': !commonService.isMultiView }">
    <div id='construction-form-header'>
      <form-header [locationName]="locationName" [headerConfig]="headerConfig" (ChangeLocation)="ChangeLocation($event)"
        (Click)="ClickEvent($event)">
      </form-header>
    </div>
    <div *ngIf="isheaderinitialize && isTab" id='construction-form-sub-header'>
      <form-header [headerConfig]="subheaderConfig" (Click)="ClickEvent($event)">
      </form-header>
    </div>
    <div id='construction-form-body'>
      <div class="totaltemplate" *ngIf="currentEntityType==reviewType; else default">
        <div class="SSRSDocCss">
          <div *ngIf="base64PdfSrc!=''; else spinnerloading">
            <ngx-extended-pdf-viewer [base64Src]="base64PdfSrc" useBrowserLocale="true" height="80vh"
              localeFolderPath="./wwwroot" imageResourcesPath="./wwwroot" [theme]="darkLightTheme">
            </ngx-extended-pdf-viewer>
          </div>
          <ng-template #spinnerloading>
            <mat-progress-spinner id="spinnerloading" *ngIf="!isPdfFound; else PDFNotExist " class="common-spinner"
              [mode]="'indeterminate'" [diameter]="'30'" [strokeWidth]="'2'">
            </mat-progress-spinner>
          </ng-template>
          <ng-template #PDFNotExist>
            <div id="PDFNotFound">
              PDF Not Found
            </div>
          </ng-template>
        </div>
        <div class='formgen-div'>
          <div id='Review-form-header'>
            <form-header [headerConfig]="ReviewheaderConfig" (Click)="ClickEvent($event)">
            </form-header>
          </div>
          <app-construction-form-generator [tableNameOrType]="formHeaderNgSelectFormControl.value"
            (commonOutputEmitter)="commonOutputEmitter($event)">
          </app-construction-form-generator>
        </div>
      </div>
      <ng-template #default>
        <div class="turnover-margin" *ngIf="entityturnover==turoverType">
          <div class="TURNOVER-left border-r" mwlResizable [enableGhostResize]="true"
            [resizeEdges]="{bottom: false, right: true, top: false, left: false}" (resizing)="onResizeEnd($event)"
            [resizeCursorPrecision]='5' fxFlexOrder="2" #sideHeaderElement>
            <div id='turnover-right-form-header'>
              <form-header [headerConfig]="TurnoverLeftheaderConfig" (Click)="ClickEvent($event)">
              </form-header>
            </div>
            <div class="turnover-approve-tree scrollbar">
              <capability-tree [HierarchyTreeName]="'turnoverApproveTree'"></capability-tree>
            </div>
          </div>
          <div class="TURNOVER-right">
            <div id='turnover-right-form-header'>
              <form-header [headerConfig]="TuronverheaderConfig" (Click)="ClickEvent($event)">
              </form-header>
            </div>
            <app-construction-form-generator [tableNameOrType]="formHeaderNgSelectFormControl.value"
              (commonOutputEmitter)="commonOutputEmitter($event)">
            </app-construction-form-generator>
          </div>
        </div>
        <div *ngIf="entityturnover!=turoverType">
          <app-construction-form-generator [tableNameOrType]="formHeaderNgSelectFormControl.value"
            (commonOutputEmitter)="commonOutputEmitter($event)">
          </app-construction-form-generator>
        </div>
      </ng-template>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>