
@import "../../../globals/theme.scss";

#context1{
  height:35px;
}

#context2{
  height:35px;
}

.mat-grid-tile {
  overflow: visible !important;
}

.requiredFields {
  width: 6px;
  height: 6px;
  position: absolute;
  top: -6px;
  margin-left: -12px;
}

.file-upload {
  opacity: 0;
  position: absolute;
  height: 30px;
  width: 155px;
  z-index: 100;
 
}

.subHeader {
  width: 100%;
  height: 30px;
  padding: 10px 12px;
  font-size: 12px;
  background-color: #333333;
  cursor: default;
}

.ProfileImage{
  height: 140px;
  width: 150px;
  margin:20px 0px;
}

.InternetImage{
  width: 20px;
  height: 20px;
}

#buttonSize{
  height: 30px;
  width: 155px;
  position: absolute;
  background: transparent;
  // margin: 5px; 
  padding: 3px;
  font-size: 12px;
  border: 1px solid var( --form-value-Color );
}

.companybuttonSize{
  margin: -12px 0px; 
  cursor: pointer;
}

.personbuttonSize{
  margin: 0px; 
  cursor: pointer;
}
.Secondary{
  margin-left: 15px;
}

.user-form.Company.Type{
  margin-left: 15px;
}

.inputSelect
{
  width: 175px;
  min-width: 40%;
  display: inline-flex;
  font-size: 12px;
}
.entity-label-header{
  opacity: 0.7;
  font-size: $sideNode-FontSize;
  font-family: Roboto;
  font-weight: 400;
  color: #7A797A;
}

.entity-label{
  opacity: 0.7;
  font-size: $sideNode-FontSize;
  font-family: Roboto;
  font-weight: 400;
  color : $grey-color;
}

.padding-item{
  padding: 2px;
  box-sizing: border-box;
}

.btn-area{
  margin-top: 18px;
}

.companyProfileImage{
  height: 140px;
  width: 150px;
  margin: 65px 0px;
}

input{
  width:200px !important;
  display: inline-flex;
  text-overflow: ellipsis;
}


.flex-grow {
  flex-grow: 1;
}