// @import "../../../../globals/theme.scss";
// @import "../../../../globals//base-properties.styles.scss";

//   .construction-playing-area {
//     position: $commonPosition;
//     background-color: var(--sideContainer-BackGroundColor);
//   }

//   .page-content {
//     margin-left: 60px;
//     color: var(--form-value-Color);
//   }

//   .content-space {
//     margin-top: 40px;
//     cursor: default;
//   }

//   .content-style {
//     font-size: $formValue-FontSize;
//     font-weight: 200;
//   }

//   .text {
//     font-size: $prodValue-FontSize;
//     font-weight: 300;
//   }

//   .capability-label {
//     font-size: $prodValue-Height;
//     font-weight: 300;
//     cursor: default;
//   }

//   .Welcome-label {
//     font-size: $form-title-fontsize;
//     font-weight: 400;
//   }

//   .construction-download-button {
//     width: 160px;
//     height: 20px;
//     background-color: var(--sideNode-LightBackGround);
//     border-radius: 0px;
//     text-align: center;
//     border: 0.7px solid var(--form-value-Color) !important;
//     font-size: 12px;
//     font-style: $font-family;
//   }

//   .construction-watch-button {
//     width: 100px;
//     height: 20px;
//     background-color: var(--sideNode-LightBackGround);
//     border-radius: 0px;
//     text-align: center;
//     border: 0.7px solid var(--form-value-Color) !important;
//     font-size: 12px;
//     font-style: $font-family;
//     margin-left: 10px;
//   }
