<div class="rename-form">
  <div class="header-from">
    <form-header [headerConfig]="headerConfig" (Click)="headerClickEvent($event)"></form-header>
  </div>
  <div class="content-rename-form" *ngIf="Operation == 'Rename'">
    <div class="input-div">
      <div class="input-area-text">
        <div class='cust-input'>
          <div class='title-label' [ngClass]="{'error':(isValid)}"> {{title}} </div>
          <div class='input-area'>
            <input class="full-width textalign" [placeholder]="title" (keyup)="checkfiled()" [name]="rename" [(ngModel)]="ExistingName">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-rename-form dispaly-flex" *ngIf="Operation == 'Copy Dashboard'">
    <div class="input-div half-width">
      <div class="input-margin">
          <div class='title-label' [ngClass]="{'error':(isValid)}"> {{title}} </div>
          <div class='input-area'>
            <input class="full-width" [placeholder]="title" (keyup)="checkfiled()" [name]="rename" [(ngModel)]="ExistingName">
          </div>
      </div>
    </div>
    <div class="input-div half-width">
      <div class="input-margin">
          <div class='title-label'> Parent Entity </div>
          <div class='input-area'>
            <ng-select class="input-unit"
                       [multiple]="false"
                       [bindLabel]="'text'"
                       [placeholder]="'Parent Entity'"
                       [notFoundText]="'No Matches...'"
                       [items]="parentList"
                       [formControl]="PrentValue"
                       [appendTo]="'body'" (change)="onChangeParent($event)">
            </ng-select>
          </div>
      </div>
    </div>
  </div>
</div>
