
                  <div id='right-header'  [class.border-trans]="commonService?.layoutJSON?.RightTree" >
                    <div id="header">
                      <div class='hidden-scroll'>
                        <nav class='nav-bar'>
                          <div class="headerIcon " *ngFor="let head of commonService.rightSideCapabilityList " [class.border]="referenceId == 'subHeader'" [class.active]="head.routerLinkActive" (click)="headerClickEvent(head)" [matTooltip]='head.title.toUpperCase()' matTooltipPosition='left' [matTooltipDisabled]="commonService.tabletMode ? true : false">
                            <mat-icon class="icon" matSuffix svgIcon='{{head.source}}' [ngClass]="head.class"></mat-icon>
                          </div>
                        </nav>
                      </div>
                    </div>
                  </div>