@import '../../../globals/theme.scss';



#right-tree {
  position: $commonPosition;
  height: 100%;
  padding: 0px;
  overflow: hidden;
  background-color: var(--sideContainer-BackGroundColor);
  overflow: hidden;
  color: var(--form-value-Color);
  box-sizing: border-box;
  // border-left: $border;
  z-index: 6;
  cursor: default;
}

.full-opacity {
  opacity: 1 !important;
}

.right-search-text:focus {
  background-color: var(--sideHeader-BackGroundColor) !important;
}

.clear-icon {
  position: $commonPosition;
  left: 150px;
  z-index: 6;
  width: 15px;
  // height: 10px; 
  //margin: 9px 0px;
  padding: 0px 3px 3px 0px;
  top: 0px;
  cursor: pointer;
  box-sizing: border-box;
}

.right-tree-label {
  position: $commonPosition;
  margin: 0px 15px;
}

.right-search-text {
  position: $commonPosition;
  width: calc(100% - 74px);
  height: 25px;
  margin: 4px 4px 4px -10px;
  padding-right: 20px;
  font-size: 13px !important;
  font-family: roboto;
  font-weight: 300;
  top: -6px;
  border: none;
  background-color: var(--sideHeader-BackGroundColor) !important;
  color: var(--form-value-Color);
}

input[type="search"]::-webkit-search-cancel-button {
  display: none; 
}


.right-searchIcon {
  width: 16px;
  height: 22px;
  cursor: pointer;
  font-size: 16px;
  color: var(--form-value-Color);
  opacity: 0.5;
  float: right;
  padding: 0px 3px;
  margin: -2px 2px;
}

.right-tree-content {
  width:100% ;
  height: calc(100% - 15px);
  position: $commonPosition;
  top:12px;
}
.form-padding{
  padding-bottom: 30px;
}

.right-tree-body {
  width: calc(100% - 10px);
  padding-left: 5px;
  top:  #{$mainHeader-Height};
  height: calc( 100% - #{$mainHeader-Height});
  position: $commonPosition;
  box-sizing: border-box;
}

.top-rightheader {
  width: 100%;
  position: $commonPosition;
  padding: 0px 10px;
  height: 35px;
  box-sizing: border-box;
  font-family: roboto;
  font-size: 13px;
  /*display: inline-flex;*/
  text-transform: uppercase;
   
}

// #AssetManagement {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

.securityAdminRight {
  position: absolute;
  overflow: hidden;
}

// #addNewSecurityGroup {
//   float: right;
//   width: 13px;
//   cursor: pointer;
//   margin-left: 70px;
// }

// #addNewRole {
//   float: right;
//   width: 1vw;
//   cursor: pointer;
// }

// .AddNewIcon {
//   /*right: 20px;
//   position: absolute;*/
//   float:right;
// }

// #PlusIcon {
//   width: 14px;
//   cursor: pointer;
//   top:-21.5px;
// }


// .min-right-tree {
//   width: 0px;
//   // border-right: $border;
// }

.max-right-tree {
  width: $sideContainer-Width;
  box-sizing: border-box;
  // border-left: $border;
  // box-shadow: 1px 0 1px -1px #000000;
}


#right-header {
  width: $mainHeader-Height ;
  background-color: var(--sideHeader-BackGroundColor);
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
  box-sizing : border-box; 
}


.border-l {
  border-left: $border;
}

#BigDataTree {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.form-generator {
  width: 100%;
  padding: 0px 0px 0px 20px;
  box-sizing: border-box;
  top: 35px;
  height: 100%;
  font-size: $formValue-FontSize;
  overflow-x: hidden;
  overflow-y: auto;
}

// #datasetcreationicon {
//   float: right;
//   width: 12px;
// }

// .sub-accord {
//   color: var(--statusHeader-FontColor);
//   opacity: var(--statusHeader-FontOpacity);
//   width: 100%;
//   padding: 4px;
//   font-size: $formValue-FontSize;
//   font-family: roboto;
// }


#header {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hidden-scroll {
  width: calc(100% + 17px);
  height: 100%;
  overflow-y: auto;
}

.headerIcon {
  width: $mainHeader-Height;
  height: $mainHeader-Height;
  cursor: pointer;
}

.border {
  box-sizing: border-box;
  border: $border;
}

.border-right {
  box-sizing: border-box;
  border-right: $border;
}

.left {
  float: left;
}

.right {
  float: right;
}

.icon {
  width: 22px;
  margin: 10px;
  position: $commonPosition;
}

.active {
  background-color: var(--sideContainer-BackGroundColor);
  border: none !important;
  box-shadow: none !important;
}

.setFav {
  width: 6px;
  height: 6px;
  background-image: url('https://althingenergy.althing.io/wwwroot/images/Favorite Pins/FavoritePin ActiveState icon.svg');
  position: absolute;
  display: none;
  margin-left: 33px;
  margin-top: 2px;
}

.headerIcon:hover {
  background-color: var(--mouseHover-BackGroundColor);
}

.nav-bar {
  height: 100%;
  position: absolute;
  overflow-y: auto;
}


.toggle-btn-area {
  height: 30px;
  width: 10px;
  position: $commonPosition;
  bottom: 25px;
  opacity: 1;
  z-index: 8;
  cursor: pointer;
}

.toggle-right {
  right: 30px;
  bottom: 40px;
}

#toggle-icon {
  width: 100%;
  left: 100%;
  cursor: pointer;
}

// .panelHaderAcc {
//   padding: 0px !important;
//   padding: 8px !important;
//   font-size: 11px;
// }

// .expandIcon {
//   display: inline-block;
//   width: $toggle-Width;
//   height: $toggle-Width;
//   font-size: 13px;
//   cursor: pointer;
//   z-index: 5;
//   padding-right: 7px !important;
// }

// .layer_accord {
//   width: 100%;
//   padding-left: 9px !important;
//   font-size: 8px !important;
// }

// .nameOfpanels {
//   font-family: $default-font !important;
//   font-size: 11px;
//   padding-left: 5px;
//   color: var(--form-value-Color);
// }

.capMenu {
  position: fixed;
}

.expand-btn{
  width: 9px;
  height: 18px;
  z-index: 5;
  box-sizing: border-box;
  cursor: pointer;
}